[2016-04-22 22:08] mbalex99 opened #4 "Support Collection Changes Notifications"
After 3 years of poverty and dispair, Realm Finally added Collection Changes Notifications. Basically they can observe weather a collection has inserted, updated, changed, moved etc...

You can find more information here : [https://realm.io/docs/swift/latest/#notifications](url)

[code]

[2016-04-30 08:27] icanzilb commented on #4
Please keep neutral tone when reporting bugs or issues. Fine grained notifications have been added in 0.1.3: https://github.com/RxSwiftCommunity/RxRealm/releases/tag/0.1.3

[2016-04-30 08:27] #4 closed

[2016-04-30 08:31] icanzilb opened #6 "Support LinkingObjects"
LinkingObjects is a full fledged RealmCollectionType in Realm 0.100 - add support to RxRealm too

[2016-04-30 08:31] icanzilb opened #7 "Cover source with docs"
Docs docs docs!

[2016-04-30 08:32] icanzilb opened #8 "Add Realm.addObservable()"
support Realm-wide notifications

[2016-04-30 08:32] icanzilb opened #9 "Support Carthage (PR Anyone?)"
Nobody has asked for Carthage support yet, but someone will. Probably just wait for a Carthage support PR

[2016-05-04 16:20] lamson opened #11 "'Can only add notification blocks from within runloops.'"
I'm getting this exception in my app, not sure how I get it to this state...
Posting an issue/question here to see if anyone has the same issue.

*** First throw call stack:
(
	0   CoreFoundation                      0x00000001112bad85 __exceptionPreprocess + 165
	1   libobjc.A.dylib                     0x0000000110d2edeb objc_exception_throw + 48
	2   Realm                               0x0000000

[2016-05-05 21:13] lamson-dev commented on #11
Figured it out. Thanks.

[2016-05-05 21:13] #11 closed

[2016-05-05 22:57] icanzilb commented on #11
👍

[2016-05-11 12:27] icanzilb commented on #7
did add docs but NotificationEmitter needs a main docs paragraph + addNotificationBlock still doesn't have docs

[2016-05-11 12:29] icanzilb opened #12 "Add bindable sink for write transactions"
Create a bindable sink for when the user needs to save objects to the realm. E.g.:

[code]

[2016-05-22 17:56] icanzilb opened #13 "Emit .Complete event when notification token is released"
hey ... those observables never complete, not sure if that's right - they can error and next

[2016-05-22 19:18] #6 closed

[2016-05-22 19:19] #7 closed

[2016-05-22 19:19] #8 closed

[2016-05-22 19:19] #13 closed

[2016-05-27 21:42] RCacheaux commented on #9
@icanzilb I'm currently working on adding support, PR is almost ready. Should have it up in a couple of hours.

[2016-05-27 21:45] icanzilb commented on #9
thank you Rene!

[2016-05-27 22:03] RCacheaux commented on #9
#16 is ready for review, cheers 🍻

[2016-05-27 22:11] icanzilb commented on #9
I'm sorry I meant "Rene" :)

[2016-05-27 22:22] #9 closed

[2016-05-27 23:01] RCacheaux commented on #9
✌ no worries! I forgot to mention, can we tag the last commit with a version bump. It's so that carthage sees the xcode project when pulling down the latest tagged version from xcode.

[2016-05-28 08:57] icanzilb commented on #9
@RCacheaux that okay? 0.1.6?

[2016-05-28 12:40] RCacheaux commented on #9
@icanzilb perfect, thank you!

[2016-06-01 08:08] icanzilb opened #18 "Add CI to this repo"
heya folks - now accepting PRs to add CI for this repo, thanks! :)

[2016-06-02 14:47] icanzilb commented on #18
I'll have a look at setting this up, I'm looking at travis anyway

[2016-06-02 14:50] bontoJR commented on #18
I can help if necessary :)

[2016-06-02 14:52] icanzilb commented on #18
no worries - I'll look how RxSwiftExt is setup, it's good for me to exercise this one more time ;) thanks!

[2016-06-02 14:54] bontoJR commented on #18
_pfiu_ I just wrote because I was feeling sorry to have just you writing on this issue :trollface:

[2016-06-02 14:59] icanzilb commented on #18
I already feel empowered by knowing someone keeps an eye on the issues nonetheless 👍

[2016-06-02 15:00] bontoJR commented on #18
I am always watching 👽

[2016-06-02 15:02] fpillet commented on #18
There's not much to do actually - add a `travis.yml` file in the repo, then you'll need to turn on the switch for `RxRealm` at https://travis-ci.org/profile/RxSwiftCommunity

[2016-06-02 15:04] icanzilb commented on #18
if any of you has time on their hands - you're welcome to do it 👍

[2016-06-02 15:04] fpillet commented on #18
I'm on it

[2016-06-02 15:08] sergdort commented on #12
Hi, found there problem while writing tests:

So, since we decided to have `static fun rx_add..`

We will not have the reference to `Realm` instance

but in tests we are using in memory `Realm`
and in the `rx_add` we are doing

[code]

which will create `Realm` with `defaultConfiguration` and will store objects locally (and tests will not pass because it will store objects into another DB)

So I'm

[2016-06-02 15:09] fpillet commented on #18
But but but ... for travis to work you need tests :)

[2016-06-02 15:15] icanzilb commented on #12
now that you ask ... we should be able to allow the user to specify the realm they want to write to ... writing only to the default realm ofc doesn't make sense..

[2016-06-02 15:18] icanzilb commented on #12
it seems it would be better to move `rx_add` as an instance variable on `Realm` - this way the user will have the chance to get the realm instance they want to save to and just bind the pending objects to its `rx_add` - how about that idea?

[2016-06-02 17:33] icanzilb commented on #18
Thanks @fpillet

[2016-06-04 07:24] icanzilb commented on #12
This has been merged via https://github.com/RxSwiftCommunity/RxRealm/pull/17

[2016-06-04 09:39] icanzilb commented on #12
I'm reopening this since multi-threaded usage proves to be a bit harder than intially thought - will need to adjust a bit the code for that

[2016-06-04 18:22] icanzilb commented on #18
maybe that wasn't such a great idea? now the build fails with the following message `Unknown File:0: Unexpected Failure:` and I honestly don't know how to fix that

[2016-06-05 06:14] icanzilb commented on #18
This is better yes
`** TEST SUCCEEDED: 16 passed, 0 failed, 0 errored, 16 total ** (538115 ms)`

And 7 minutes fast to run ... 👍

[2016-06-05 06:36] icanzilb commented on #18
@fpillet - the first build passed, the second one failed again with: `Unknown File:0: Unexpected Failure:`

[2016-06-05 06:37] icanzilb commented on #18
And the second time around the build again tool 17+ minutes - looks like really something different is happening on that first build

[2016-06-05 09:19] fpillet commented on #18
I'm looking at the detailed logs, thing I figured out why. Another PR is on the way.

[2016-06-05 09:26] fpillet commented on #18
So here is the issue: `RxRealmWriteSinks.swift` imports `RxCocoa` which I have specifically removed from tests to speed up the builds. I don't see any good reason for RxCocoa to be needed in the tests. If needed, then need to re-add `RxCocoa` as a dependency for the tests target in `Podfile`, otherwise need to remove the `import RxCocoa` directive from this file.

[2016-06-05 09:28] icanzilb commented on #18
interesting ... I was planning on using `RxCocoa` but it seems like I didn't. I think we can skip testing with `bindTo(Observer)` if we already have test with `subscribe(Observer)`. Will remove the import and try again, thanks again @fpillet

[2016-06-05 10:05] icanzilb commented on #18
@fpillet That didn't help ... https://github.com/RxSwiftCommunity/RxRealm/pull/20/commits/75c95406547861ec17fd6052681bd2bcc963ae63

The build is still failing:

[code]

Where is the detailed log you mention? Maybe I can also have a look?

[2016-06-05 11:12] fpillet commented on #18
It's always happening in `RxRealmWriteSinks textRxAddObjectsInBackground`. Would it be an issue with Realm having trouble accessing the database file in background on Travis? Could you use a Realm configuration that only uses an in-memory database?

See full log at:
https://s3.amazonaws.com/archive.travis-ci.org/jobs/135378662/log.txt

[2016-06-05 19:50] icanzilb commented on #18
the cross-thread observing doesn't work with an in-memory realm (hey, maybe I discovered a bug I got to report?) ... I'll look into it some more

[2016-06-08 21:21] icanzilb commented on #18
if anyone could provide more insight on the nature of the ci error that'd be great ...

[2016-06-13 08:56] icanzilb commented on #18
Thanks again, the test was failing due to differences between OSX/Xcode and travis/Linux. I'll close this now

[2016-06-13 08:56] #18 closed

[2016-06-13 08:56] icanzilb commented on #12
@sergdort I merged everything to `master` and I'll release a new Pod version, thanks !

[2016-06-13 08:56] #12 closed

[2016-06-23 16:49] superlopuh commented on #11
:/ I'm having a problem with this now, and I'm not sure how to solve it. Could you post your fix, please?

[2016-06-23 17:03] icanzilb commented on #11
Unfortunately there's nothing more to the exception "Can only add notification blocks from within runloops." than it already says. There is no fix for this, you need to subscribe for notifications from a thread with a runloop

[2016-06-23 17:06] superlopuh commented on #11
Ah. Where can I read up on runloops? I've never seen this before.

[2016-06-23 17:08] icanzilb commented on #11
Your main thread has one installed by default, and your newly spawned background threads don't. You can read more here: https://developer.apple.com/library/ios/documentation/Cocoa/Conceptual/Multithreading/RunLoopManagement/RunLoopManagement.html

[2016-06-23 17:10] superlopuh commented on #11
I'll read that, thank you! Is there a reason that runloops aren't handled inside the asObservable() method?

[2016-06-23 17:12] icanzilb commented on #11
This is a limitation of Realm, it hasn't anything to do with the rx extension. `RxRealm` observes your realm on the thread you subscribe on so it's up to you to do it on the main thread or have a runloop running

[2016-06-23 17:13] icanzilb commented on #11
If you'd like to read a complete post about reading/writing from different threads have a look here: https://realm.io/news/marin-todorov-realm-rxswift/

[2016-06-23 17:17] superlopuh commented on #11
Epic! Thank you

[2016-07-19 14:42] plm75 opened #23 "General question"
Hello, I hope it is OK to ask a question here.
I'm experimenting with RxRealm and in a ViewController, I’m trying to check if a RealmDB hasn’t been populated yet and if not, populate it with some seed values.

[code]

Q1:  I'm having trouble understanding why this is not working ? New objects are inserted at each viewDidLoad.

Q2: the documentation says “You can add newly created objects to a real

[2016-07-20 06:53] #23 closed

[2016-07-20 07:03] icanzilb commented on #23
hey did you find where your issue was

[2016-07-20 07:44] plm75 commented on #23
@icanzilb :  hello,
I got around this problem by using `combineLatest` instead:

[code]

I think the problem with the initial approach was with `takeUntil` not emitting anything for some reason.

ps: enjoyed reading you rx blog BTW.  Hope there'll be more soon ;-)

[2016-07-20 07:46] icanzilb commented on #23
yeah, I ran into health problems ... I hope I'll be able to pick that up again. good luck with your app

[2016-07-22 13:47] daisukenagata opened #24 "Dependency "RxRealm" has no shared framework schemes"
Wrote github "RxSwiftCommunity / RxRealm" ~> 1.0 in carthage, was the carthage update.
Such error came out .
If you believe this to be an error, please file an issue with the maintainers at https://github.com/RxSwiftCommunity/RxRealm/issues/new
Is there a correspondence ?

[2016-07-22 13:53] icanzilb commented on #24
Please post a comment if you find what the problem was 👍

[2016-07-22 14:01] DaisukeNagata commented on #24
Thank you for contacting us.😀

I use the carthage the RxRealm, was conducted .
But is such an error came out .

Skipped building RxRealm due to the error:
Dependency "RxRealm" has no shared framework schemes

Information contained in Cartfile, github "RxSwiftCommunity / RxRealm" ~> 1.0

Is there a way?
I want to use the RxRealm! ! !

[2016-08-12 06:54] icanzilb commented on #24
Did you find what the problem with Carthage was?

[2016-08-17 15:38] denis-hoz commented on #24
Got same error.
@daisukenagata did you fixed it?

[2016-08-17 20:57] DaisukeNagata commented on #24
Thank you contact .

In so was able to correspond CocoaPods, it was conducted over there .

Thank you when there is something also .

[2016-08-21 12:50] yoneapp commented on #24
Hi, I probably have solved the problem.
We had two problem.

Firstly, This project has the wrong 1.0.5 tag.
How about we do it like this?

[code]

Because, Carthage probably determine the latest is a big number in semantic versioning.

I would imagine 1.0.5 tag is mistake.
1.0.5 tag have less committed.

https://github.com/RxSwiftCommunity/RxRealm/tree/1.0.5
42 commits

https://github.com/RxSwiftC

[2016-08-21 13:43] cleexiang commented on #24
I have the same problem, how to fix?

[2016-08-21 16:59] DaisukeNagata commented on #24
Thank you amazing

実際に、実施してみます！！！

[2016-08-21 18:28] rustproofFish commented on #24
I'm still having issues with this. Any ETA on a fix?

[2016-08-24 16:11] sucrewar opened #27 "RxRealm Filter object"
Hello,
im use rxRealm whit rxSwift in table view .
Initial im load all entries in realm class to a variable of type results and them populate the view.
But when i filter the variable whit the realm results, the table is not reload whit the new data from variable.
there is my class:

[code]

[2016-08-25 15:12] gwynantj commented on #24
The issue is `1.0.5` is tagged to a commit that pre-dates Carthage support.

Example if I do a git log inside the `Carthage/Checkouts/RxRealm` directory i get this:
![screen shot 2016-08-25 at 4 09 19 pm](https://cloud.githubusercontent.com/assets/2777576/17974543/681f5204-6ade-11e6-8f07-ea9a24086c2b.png)

As you can see the top most commit was tagged for the 22nd of May, but Carthage support wasn

[2016-08-25 15:29] icanzilb commented on #24
@gwynantj I'll look into doing a new tag 👍

[2016-08-25 15:32] icanzilb commented on #24
I see what happened ... one of the releases has the wrong version number and this seems to screw up Carthage ...

[2016-08-25 15:33] icanzilb commented on #24
@gwynantj can you please check again, the latest (current) version of the pod should be `0.1.8` (not sure how it's called when it's intalled through cartage)

[2016-08-25 15:47] gwynantj commented on #24
@icanzilb sorry to be a pain but that tag is still missing 2 commits from master.

`1.0.8` doesn't build because it complains about the below:
![screen shot 2016-08-25 at 4 46 09 pm](https://cloud.githubusercontent.com/assets/2777576/17975963/77f5c1e0-6ae3-11e6-849b-73b054ae6faa.png)

[2016-08-25 15:51] icanzilb commented on #24
ok got ya, just pushed a `0.1.9`, hopefully that fixes it

[2016-08-25 16:00] denis-hoz commented on #24
@icanzilb Thanks! No errors in log!

[2016-08-25 16:01] gwynantj commented on #24
Yup fixed. Thanks

[2016-08-25 16:02] icanzilb commented on #24
alrighty; sorry for the trouble folks - my mistake for pushing that wrong release version

[2016-08-25 16:02] #24 closed

[2016-08-26 08:32] remirobert opened #28 "Deleting row => asObservableChangeset"
Hello,

I have a strange behaviour, I have a observer on for **asObservableChangeset** :

[code]

when I deleted a row, I got a deleted change offset but also an inserted offset.
Also the index is always = 0
Is it normal to receive a inserted index, when I delete a row ?

[2016-08-26 13:22] icanzilb commented on #28
no I wouldn't say it's normal, do you have a piece of code that can reproduce it?

there's a unit test to show you the expected behavior:

https://github.com/RxSwiftCommunity/RxRealm/blob/master/Example/RxRealm_Tests/RxRealmResultsTests.swift#L105

and the expected result:

https://github.com/RxSwiftCommunity/RxRealm/blob/master/Example/RxRealm_Tests/RxRealmResultsTests.swift#L120

[2016-09-01 13:41] rustproofFish opened #29 "Unable to build RxRealm using Carthage (Swift 2.3 target)"
No errors reports by Carthage - just reports a failed build. Using Swift 2.3 toolchain in order to integrate it into a Xcode 8 project. I can't see anything in the code that should cause a problem so the problem might lie elsewhere. Any ideas?

[2016-09-11 19:54] #28 closed

[2016-09-17 15:32] zinyakov opened #30 "Not building using Cocoapods with freshest versions of RxSwift and Realm (Swift 3, XCode 8)"
Hi. I'm trying to bulid a sample project with RxSwift, RxCocoa, RealmSwift and RxRealm. However, RxRealm is building with lots of errors, even if I switch to `swift3` branch. Other pods do not seem to produce any errors. Here is my podfile. Would be very grateful to get any help on this issue.

[code]
<img width="258" alt="screen shot 2016-09-17 at 6 29 48 pm" src="https://cloud.githubusercontent.

[2016-09-19 14:23] krider2010 commented on #30
This seems to have the latest code: https://github.com/danwilliams64/RxRealm/tree/swift-3.0

[2016-09-19 14:32] icanzilb commented on #30
RxRealm is not ported to Swift 3.0 yet, RxSwift 3.0 is still in beta version and likely to change before stable release.

[2016-09-19 14:32] #30 closed

[2016-09-20 23:59] mbalex99 opened #32 "Update Documentation for Swift 3 API"
Update Documentation for Swift 3 API

The new API is all about a static extension method on `Observable`

Can we update the docs? Let me know if you'd like me to help!

[2016-09-21 07:37] icanzilb commented on #32
We certainly can, the current version is ofc more of a pre-release since it depends on RxSwift beta, which still might change... But if you have a bit of time on your hands go ahead and send a PR to fix the README 👍

[2016-09-23 21:21] rustproofFish commented on #29
Moving on to Swift 3.0 (as I guess everyone else has!)

[2016-09-23 21:21] #29 closed

[2016-09-23 22:12] rustproofFish opened #34 "Error during Carthage build"
Building using the Cartfile entry github "RxSwiftCommunity/RxRealm" ~> 1.0 gives the error "Dependency "RxRealm" has no shared framework schemes for any of the platforms: iOS"

Removing the platform specifier does not resolve the error - it just removes the platform identifier.

If I attempt to use the master branch, I get the error "module compiled with Swift 2.3 cannot be imported in Swift 3.0"

[2016-09-24 11:01] ast3150 commented on #32
Hi guys, I filed pull request #35 with an updated README.

[2016-09-27 13:51] mattjgalloway opened #37 "watchOS support in Podfile"
It'd be great to have watchOS support in for Cocoapods. I would do a pull request for it, but since you'll probably want to schedule it with a release, I thought it easiest just to ask here. But here's the line for you to copy pasta if you want!

[code]

(Thanks BTW - lovely little library this - helping me test out RxSwift and Realm in a new app!)

[2016-09-27 13:55] icanzilb commented on #37
That's lovely Matt, thanks ... just solving my issue with CP on Sierra and afterwards will add watchos to the mix 👍

[2016-10-09 15:09] icanzilb commented on #37
it's in

[2016-10-09 15:09] #37 closed

[2016-10-12 21:55] rustproofFish commented on #34
Bailed on Carthage - it just doesn't seem to work as reliably as Cocoapods for many Rx projects and it is very slow.....

[2016-10-12 21:55] #34 closed

[2016-10-25 08:28] juliengdt opened #39 "[question] Update for RxSwift 3.0"
RxSwift brings a lot of changes and is now quite stable

Any news about RXSwift 3.0 compliance for RxRealm ?

[2016-10-25 08:31] icanzilb commented on #39
RxRealm is compatible with RxSwift 3.0 RC2, a little update for the final 3.0 is on its way

[2016-10-25 08:31] #39 closed

[2016-10-25 15:54] sendyhalim opened #40 "Wrong Commit To RxRealm repo"
@icanzilb Hi I pushed a wrong commit to this repo https://github.com/RxSwiftCommunity/RxRealm/commit/15be918e21200910ba342ea0060763910f005f8c#diff-60bb710c5144ead8f8cb73a22de579ab

I was going to push it to my RxRealm forked repo 😓, is there anything that I can do? reverting it maybe (unless you're planning to upgrade to RxSwift 3.0)?

[2016-10-25 18:05] icanzilb commented on #40
How is it wrong? And what should it be in its place?

[2016-10-25 18:34] sendyhalim commented on #40
@icanzilb erm I mean, I should have opened a pull request instead of committed directly to master. I accidentally push the commit 15be918e21200910ba342ea0060763910f005f8c to this repo instead of the forked RxRealm repo 😅. I'm closing this since it looks like you're ok with the commit that I pushed. :beers:

[2016-10-25 18:34] #40 closed

[2016-10-25 19:36] icanzilb commented on #40
that's okay - I guess best to do is to protect `master` 👍

[2016-10-31 19:20] icanzilb commented on #27
in the `filterDummy` where you create a new `Results` object you don't subscribe for notifications again, so you don't receive any notifications anymore

[2016-10-31 19:20] #27 closed

[2016-10-31 19:20] icanzilb commented on #32
Thanks, merged

[2016-10-31 19:20] #32 closed

[2016-11-09 16:38] juggernate opened #42 "Observing single object fails on device but works in simulator"
If I run RxRealm_Example it works in simulator but I hit ```fatalError("At present you can't observe objects that don't have primary key.")``` when I try to run on device.

[2016-11-09 16:49] JustaLab opened #43 "Observing single object Error"
Hey!
I'm getting an error while observing a single object:

Here's my object
[code]

Here's the way I call it:
[code]

There's a EXC_BAD_ACCESS line 344 in RxRealm.swift. `type(of:object)` fails

Any idea?
Thanks

[2016-11-09 16:51] stremsdoerfer commented on #42
Just posted a similar issue. Nice to see that I'm not the only one. I believe the issue is the line above though. On `type(of:object)`

[2016-11-10 00:58] juggernate commented on #42
@JustaLab do you see a difference on simulator vs device?

[2016-11-10 08:11] stremsdoerfer commented on #42
@juggernate yes, it works fine in the simulator.

[2016-11-10 16:16] icanzilb commented on #42
confirmed, I'll look into it - very strange ...

[2016-11-10 17:03] icanzilb commented on #42
the crash comes from the Swift standard library, `type(of:)` more specifically when running on a device - we'll have to consider a workaround maybe 🤔

[2016-11-14 03:13] insidegui opened #44 "Carthage error: Dependency "RxRealm" has no shared framework schemes"
I am using Carthage version 0.18.1.

Cartfile snippet:
[code]

When I run `carthage update RxRealm`, I get the following message:

[code]

[2016-11-18 01:53] GabrielCartier commented on #43
Duplicate of #42

[2016-11-18 05:24] GabrielCartier commented on #42
Been running into this issue too.
I tried some workarounds without any success.
The only option I have right now is to convert my single object calls to array calls and only get the first object. Not ideal but that does it for me right now.

[2016-11-18 09:50] icanzilb commented on #42
I've been debugging this and it seems some kind of a Swift runtime error, right now I have no solution but to remove the single object observing from RxRealm ... I'll give it another try and if I don't find a reasonable solution I'll have to remove it

[2016-11-18 14:44] insidegui commented on #42
Yeap, I am having the same issue. It crashes on device but works on the simulator.

[2016-11-20 21:31] dylan commented on #44
Same thing here, but more specifically:

[code]

When I run: `$ carthage update --platform ios`

[2016-11-20 21:35] icanzilb commented on #44
anyone from the community wants to fix the Cartage support?

[2016-11-20 21:37] dylan commented on #44
Sure, I can take a look at it.

[2016-11-20 21:38] icanzilb commented on #44
fantastic @dylan, let me know if you need something!

[2016-11-21 15:08] dylan commented on #44
It looks like legacy Swift 3.0 was picked in the compile options rather than the default "unspecified". Is there a particular reason for this? Otherwise just merge my PR and it now seems to work. https://github.com/RxSwiftCommunity/RxRealm/pull/45

[2016-11-22 19:20] reloni commented on #44
@icanzilb
I think problem here is in this [release](https://github.com/RxSwiftCommunity/RxRealm/releases/tag/1.0.5). It tagged with version 1.0.5, but actually latest version is 0.3.1
So if you write in cartfile `github "RxSwiftCommunity/RxRealm" ~> 1.0` carthage downloads this old vesion and can't build it. Now carthage works well with wersion 0.3.1 if it explicitly set in cartfile: `github "RxSw

[2016-11-23 14:41] dylan commented on #44
@reloni I cannot verify that this works. I get the same error in both cases.

[2016-11-23 18:27] dylan commented on #44
Please check out https://github.com/RxSwiftCommunity/RxRealm/pull/46

[2016-11-24 07:17] reloni commented on #44
@dylan it's strange, it works on my machine🤔
Can you provide full message, that carthage shows you?

[2016-11-25 08:10] icanzilb commented on #44
@dylan I deleted the wrong tag as @reloni adviced, can you check if you're pulling the correct version now?

[2016-12-01 00:12] bensarz opened #48 "Please delete the 1.0.5 tag"
This causes `Carthage` to download the wrong release.

[2016-12-01 00:52] bsrz commented on #48
Or retag it as 0.1.5

[2016-12-01 06:43] icanzilb commented on #48
done

[2016-12-01 06:43] #48 closed

[2016-12-01 06:44] icanzilb commented on #43
fixed in latest release

[2016-12-01 06:44] #43 closed

[2016-12-01 06:44] icanzilb commented on #42
fixed in latest release

[2016-12-01 06:44] #42 closed

[2016-12-01 06:44] #44 closed

[2016-12-07 22:21] bsrz commented on #48
The tag is back:
![image](https://cloud.githubusercontent.com/assets/1077441/20989101/8606277e-bca1-11e6-8810-cf19c43e760f.png)

[2016-12-07 22:21] bsrz commented on #48
Please remove the tag again.

[2016-12-07 22:26] icanzilb commented on #48
omg, I re-pushed the tag when I committed here locally ... I deleted it now both locally and remotely. And I'm sure I will never tag a wrong version ever 😂

[2016-12-07 22:28] bsrz commented on #48
haha thanks Marin!
Btw your Swift/Rx tutorials are awesome!

[2016-12-12 10:41] kayvan-n opened #50 "Observe ignored properties"
Hi
Is there any way to observe ignored properties changes?

[2016-12-12 10:47] icanzilb commented on #50
if you'd like to observe properties not managed by Realm, you can go different ways - KVO, custom setters, etc. RxRealm is only based on the notifications Realm emits itself

[2016-12-12 10:47] #50 closed

[2016-12-18 14:49] xueyefengbao opened #52 "RxCoreData demo"
I can not update UI when using RxCoreData modify model

Through your project Can you tell me how to use RxCoreData

thank you very much

[2016-12-18 14:55] icanzilb commented on #52
this library uses the Realm mobile database: https://realm.io/

[2016-12-18 14:55] #52 closed

[2016-12-21 20:20] miff opened #53 "Use of undeclared type 'ObservableType'"
Works in simulator, but fail on device. Tested on 6, 6s and iPad 2013.

[2016-12-21 20:30] icanzilb commented on #53
hi, can you provide more details - what is not working exactly? have you tried if the demo app from this repo works for you?

[2016-12-21 23:12] miff commented on #53
Usage of undeclared types in RxRealm.swift file.
<img width="241" alt="screen shot 2016-12-22 at 12 11 37 am" src="https://cloud.githubusercontent.com/assets/469459/21409564/47f440ca-c7db-11e6-95f8-f9555ae394b9.png">

[2016-12-22 07:28] icanzilb commented on #53
In what way do you import RxRealm in your project? CocoaPods or some other way?

[2016-12-22 08:10] miff commented on #53
Manually build from https://github.com/ReactiveX/RxSwift

[2016-12-22 09:15] icanzilb commented on #53
This is an interesting problem but I'm not sure how to help you with this one. The types you see reported as missing namely `Reactive`, `AnyObserver`, and `Observable` are all the types RxRealm uses from RxSwift. For some reason in your setup RxRealm can't import RxSwift. If it happens only when you build for the device as you say I'd check the project's build settings because I have no idea what

[2016-12-22 11:35] miff commented on #53
Thanks, am also confused... i will try again with different build

[2016-12-22 12:55] miff commented on #53
Thanks Marin,
but build RxSwift with CocoaPod do the job.

[2016-12-22 12:55] #53 closed

[2016-12-26 15:33] ogrenich opened #55 "RLMException in case of binding Observable.arrayFrom() to tableView, RxRealm 0.4.0"
Hi, I found problem when using UITableView+Rx extensions or default UITableViewDataSource with Observable.arrayFrom() extension. If we are scrolling tableView, after write transaction to Realm app will crash with exception. Thanks in advance for recommendations and help.

_Exception_
*** Terminating app due to uncaught exception 'RLMException', reason: 'Object has been deleted or invalidated.'

**

[2016-12-28 19:40] gkuhlmann14 commented on #55
What threads are your write transactions in `fetchData()`

Can you log/print a `Thread.isMain` right before the write? I think Moya moves to another thread for the backend call there so we could doublecheck that.

Also this occurs as you are scrolling and `fetchData` comes back or anytime `fetchData` is called (no matter where you are in the table)? Does it work the first time the call comes back

[2016-12-28 19:54] icanzilb commented on #55
I haven't tried using `RxRealm` with some built in table view bindings, but there is a separate pod that provides a custom binding specifically for Realm: https://github.com/RxSwiftCommunity/RxRealmDataSources

[2016-12-29 08:50] ogrenich commented on #55
@gkuhlmann14 Thanks for your questions and suggestions.

1. Are we are on main thread right before the write transaction? – Yes, it is. It was first that I had tested. As I understand it is so because after completion request in background thread Moya bring us back to the main thread –  all events in a sequence which started on the main thread should be produced same thread by default. Thus, all a

[2016-12-29 08:59] ogrenich commented on #55
@icanzilb Hey Marin, thanks a lot for your suggestion. I like RxRealm and it's ease of use, but I expect that it should work also in simple cases without RxRealmDataSources and it seems very logical. For example [RxRealmDataSources](https://github.com/RxSwiftCommunity/RxRealmDataSources) uses Observable.changesetFrom() too and it works. What are you thinking about this?

[2016-12-29 11:55] icanzilb commented on #55
@ogrenich of course it does work without RxRealmDataSources - if you need some inspiration check the demo app included in the repo, it demonstrates how to do updates, reads, etc.

[2016-12-30 10:14] icanzilb commented on #55
oh now I understand what you want to do - you want to use `RxCocoa`'s `bindTo` operator to bind RxRealm collection directly to `tableView.rx.items`... I'm not sure this is possible at all to be honest.

[2016-12-30 14:01] ogrenich commented on #55
@icanzilb Yeah! Now everything fell into place – we **must** use RxRealmDataSources for binding  RxRealm collections. Thanks a lot)

[2016-12-30 14:01] #55 closed

[2016-12-31 12:16] plm75 opened #56 "Observable.from broken ?"
I may have missed something, but it looks like `Observable.from` is broken: instead of calling the RxRealm method, it is RxSwift's "standard" `Observable.from` that is called.

To check this bug in action, just open the example app and look at  the section
[code]
if you insert an `onComplete` callback in the subscribe block, it will be called immediately.

Also, if you change the name of `Observab

[2016-12-31 12:54] icanzilb commented on #56
This code is under test (here: https://github.com/RxSwiftCommunity/RxRealm/blob/master/Example/RxRealm_Tests/RxRealmResultsTests.swift#L40)

What you are saying is that the observable completes immediately without being disposed?

[2016-12-31 13:21] plm75 commented on #56
What I'm saying is that instead of RxRealm's `from` method, calling `Observable.from` executes RxSwift's `from` method.  If you insert an `onCompleted` callback in the `subscribe` block, it will be called immediately after the initial `onNext` as it should with RxSwift's `from` but is not the expected behaviour with RxRealm's `from`

As I said, if you change the method's name in RxRealm's source c

[2017-01-01 16:14] icanzilb opened #57 "Add detailed docs about using RxRealmDataSources"
explain when/why to use RxRealmDataSources in a separate section so people know when to use the separate lib and when to use only RxRealm

[2017-01-01 17:22] icanzilb commented on #56
Thanks for reporting this, it really seems the overload is broken... maybe due to recent change in RxSwift that improved working with optionals, not sure - I'll certainly have to look at fix this

[2017-01-01 17:59] icanzilb commented on #56
weird though, it looks like it works just fine in the test suite, but not in the demo app. I'm totally confused 🤔

[2017-01-08 05:15] Kabal opened #58 "Delay on Observable.from?"
Is it just me or is there a big delay when using observables from realm objects?

Using them to try to bind to labels etc leaves me with a flash of the original storyboard value whenever a view appears - or worse if you use a UIPageController, the scrolling stops the main run loop from executing so the labels won't update until you finish scrolling to the new page.

Is there any way around this?

[2017-01-08 12:05] icanzilb commented on #58
Realm notifications are delivered on the runloop of the thread where you create the subscription.

That being said, UIKit assigns highest priority to scrolling on the main thread and Realm just doesn't manage to deliver its own notifications until UIKit is blocking the main thread.

That being said, considering the situations you describe - it might be a viable option to change how RxRealm works a

[2017-01-08 12:57] icanzilb opened #59 "scheduler parameters don't seem to be used in swift 3 rxrealm"
need to consider how to use the scheduler parameter when creating an observable

[2017-01-17 16:46] jonlambert opened #60 "Error building RxRealm with Swift 3."
I'm experiencing 29 Swift 3 related compiler errors when attempting to include RxRealm via Cocoapods. What's the correct way to install the library?

<img width="1075" alt="screen shot 2017-01-17 at 16 45 46" src="https://cloud.githubusercontent.com/assets/856225/22030079/75a67bec-dcd4-11e6-991f-b3e4f9182c7b.png">

[2017-01-17 16:48] icanzilb commented on #60
The code on the screenshot looks like Swift 2.* Can you make sure you're using a recent version of RxRealm please.

[2017-01-17 17:09] jonlambert commented on #60
Sorry, my mistake. I'm not specifying a version in my Podfile but a dependancy was! Thanks for your help.

[2017-01-17 17:09] #60 closed

[2017-01-17 17:11] icanzilb commented on #60
can you share which was the dependency? I can have a look at leaving them a message or do a PR :)

[2017-01-18 12:48] jonlambert commented on #60
It was an internal pod, consider it fixed! Thank you!

[2017-01-19 07:34] icanzilb commented on #56
yes, figured this out - RxSwift 3.1 has broken all libs that override `Observable.from(_)` so I'll have to change the name of the method to keep it working. Thanks for reporting and noticing this 👍🏼

[2017-01-19 11:37] icanzilb commented on #56
addressed in https://github.com/RxSwiftCommunity/RxRealm/pull/61

[2017-01-19 11:37] #56 closed

[2017-01-19 11:37] icanzilb commented on #58
addressed in https://github.com/RxSwiftCommunity/RxRealm/pull/61 with a new parameter that sets whether to emit the first element sync or async 👍🏼

[2017-01-19 11:37] #58 closed

[2017-01-19 11:38] icanzilb commented on #59
removed in https://github.com/RxSwiftCommunity/RxRealm/pull/61

[2017-01-19 11:38] #59 closed

[2017-01-19 12:28] #57 closed

[2017-02-04 05:27] muukii opened #63 "Do you have a plan for correspond to Object Notifications on Realm 2.4?"

[2017-02-06 10:00] icanzilb commented on #63
@muukii  yes definitely, just a bit overwhelmed now with other work, but native object observable certainly coming in the next month 👍🏼

[2017-02-06 12:26] muukii commented on #63
@icanzilb
I got it. I am looking forward to it 😆

[2017-02-07 21:28] ryanmeisters commented on #63
Started implementing this but then realized It wouldn't actually solve my problem. Here's a [gist](https://gist.github.com/ryanmeisters/b1bff4e16ed2578e43c28961777dce46) that may or may not be helpful to anyone needing this currently. It doesn't quite work--there's some issue with casting the observed value--but thought I'd post it anyway.

@icanzilb is that gist along the lines of what you had in

[2017-02-09 16:20] TeunVR commented on #63
Maybe something like this?

[code]

[2017-02-10 08:54] icanzilb commented on #63
yes something along these lines should work, we'll just replace the existing object observation method with the new one. It'd be nice to also add a method on `Observable<PropertyChangeList>` to filter the changes by property name(s)

[2017-02-14 15:57] icanzilb commented on #63
I think I will have time to grab the code above and add bunch of tests next week, stay tuned :)

[2017-02-21 13:34] tkallioras opened #64 "Crashes at 'bool read_only() const { return schema_mode == SchemaMode::ReadOnly; }'"
I have this object:

`let territory = RoadObject()`

which has this LinkingObjects property:

`let roadNumbers = LinkingObjects.init(fromType: RoadNumberObject.self, property: "territory")`

I create at my ViewModel this property to get an array with the linking objects:

`let roadNumbers: Variable<[RoadNumberObject]>`

I initialize it (by creating an Array from the LinkingObjects property):

`sel

[2017-02-21 15:43] michaelom opened #66 "unused scheduler in Observable.changesetFrom"
RxRealm 0.4.0 via CocoaPods

`changesetFrom` takes a scheduler as an optional argument that is never used locally:

[code]

[2017-02-21 15:50] icanzilb commented on #66
that's true 👍 the parameter was removed in recent versions

[2017-02-21 15:50] #66 closed

[2017-02-26 13:40] igorleonovich commented on #55
By the way RxRealmDataSources seems like ignores MVVM concept and configures cells directly from a model passed to a controller.

[2017-02-26 16:07] icanzilb commented on #55
RxRealmDataSources follows the same API design as RxDataSources and it's not bound to a certain app architecture

[2017-03-06 04:07] wailaw opened #69 "How to observe the List if its Realm query prerequisite requirement has been changed?"
Here is the structure of my database:

[code]

Every user has an Account, and they can create many avatars in the Account. However, only one Avatar is active at the same time.

In my app, there is a tableView to show the current avatar's following users.
And this is simply achieved  by binding the search result to the tableView, i.e.

[code]

The problem is, as user can have multiple avatars in th

[2017-03-06 07:23] icanzilb commented on #69
Unfortunately `followingUsers` seems to be a constant, and won't trigger a change notification in its owning object. You can observe for changes on each of the `followingUsers` objects, that all users have, but depending on how many users there are this might be a bit of an overkill ... That's the only I can think of is

[2017-03-07 01:14] aventurella opened #70 "Question: Drawbacks of using `defer` for situations like this:"
I'm asking because I am more curious than suggesting a real change be made here.

https://github.com/RxSwiftCommunity/RxRealm/blob/master/Pod/Classes/RxRealm.swift#L116-L118

[code]

[code]

[2017-03-07 08:16] icanzilb commented on #64
This is most probably not on RxRealm's side, since the exception raises in the C++ code of the Realm core, but it's an interesting error - I'll try replicating it this week and help.

[2017-03-07 09:09] theoks commented on #64
Should I post it on realm-cocoa repo too along with the similar issue I posted on stackoverflow?

[2017-03-07 12:14] icanzilb commented on #64
@tkallioras it's probably worth reposting on Realm's github, especially if you have code how to replicate the crash and the full exception message. Somebody could rather quickly see what the reason for the issue is.

[2017-03-07 14:22] icanzilb commented on #63
This feature is added in https://github.com/RxSwiftCommunity/RxRealm/pull/71 . Will ship it with the next (imminent) release

[2017-03-07 14:22] #63 closed

[2017-03-07 14:27] insidegui commented on #70
`defer` is more suitable for situations where you have a function with multiple returns and you need to make sure some code runs no matter what right before that function returns. Therefore, I think this would not be a good use of `defer`.

[2017-03-07 14:30] theladyjaye commented on #70
Thank you for taking the time to explain that. I was curious how observables dealt with an `onNext` before the return of the `Disposable`  I guess it's ok that `onNext` can be fired immediately before that `Disposable` returns.

[2017-03-07 14:41] icanzilb commented on #70
@insidegui is right, using `defer` if there is no few exit spots doesn't make sense to me either.

[2017-03-10 02:33] #69 closed

[2017-03-10 11:32] DanielAsher opened #72 "Consider support for addProgressNotification"
Hi,

thanks for a great framework!

I was wondering if any thought had been given to adding support for progress notification via `addProgressNotification`

If you have any ideas please post them and I'll consider a [WIP] PR.

thanks,

Daniel

[2017-03-10 14:35] icanzilb commented on #72
Hi Daniel, not just yet to be honest - I just merged the object notifications PR and hadn't had time to look into progress notifications ... are you using those in a project you're working on?

[2017-03-10 21:31] DanielAsher commented on #72
I use playground scripts to manage ROS - and have found that awaiting synchronisation is required. The custom observables required are trivial, but I've not given thought, just yet, to production quality.

[2017-03-15 19:04] arunlj561 opened #73 "TableView crash when Insert a value into a realm database."
Invalid update: invalid number of rows in section 0.  The number of rows contained in an existing section after the update (13) must be equal to the number of rows contained in that section before the update (13), plus or minus the number of rows inserted or deleted from that section (1 inserted, 0 deleted) and plus or minus the number of rows moved into or out of that section (0 moved in, 0 moved

[2017-03-15 20:26] icanzilb commented on #73
Hi, I don't see anything wrong with the code. This exact case is covered in the repo example app here: https://github.com/RxSwiftCommunity/RxRealm/blob/master/Example/RxRealm/ViewController.swift#L65

Does that work for you?

[2017-03-16 04:31] arunlj561 commented on #73
I have followed the same code, It crashes when Initially adding an object to the table, and when I update it.

[2017-03-16 05:45] icanzilb commented on #73
If you send me a code that I can reproduce the crash I can have a look, otherwise as you see in the demo app that works.

[2017-03-16 08:57] arunlj561 commented on #73
I have created a sample project, you can check the sample code here. After the clone just click + on first screen and then again on second screen. It crashes.
https://github.com/arunlj561/RxRealmStarter.git
@icanzilb  have you checked, please let me know, Is something wrong written by me.
Thanks in advance

[2017-03-17 09:21] icanzilb commented on #72
I'm on a bit of vacation, after wrapping up with the European part of the Realm tour ... once I'm back I'm gonna write you more about this. I got to try few things because I haven't used much these notifications myself before

[2017-03-18 19:48] icanzilb commented on #73
You are refreshing your table view in your `viewWillAppear` method, that's why UIKit crashes when you try to apply the changes one more time to the table manually from your observable subscription.

[2017-03-18 19:48] #73 closed

[2017-03-18 19:54] #70 closed

[2017-03-22 22:12] icanzilb commented on #64
I see this is tracked by the realm cocoa team now: https://github.com/realm/realm-cocoa/issues/4731 . Closing this one down

[2017-03-22 22:12] #64 closed

[2017-04-01 10:46] icanzilb opened #74 "change gets swollen when using synchronous first element"
As described here:
https://github.com/realm/realm-cocoa/issues/4761#issuecomment-290911721

Demo code:

[code]

[2017-04-18 15:54] icanzilb commented on #72
Time has passed and I had to put out another release to fix more pressing issues, but this issue is one of the next things I'd like to look into. Have you meanwhile had some more insights into common use-cases for that API and what does make sense to build in RxRealm?

[2017-04-21 10:12] DanielAsher commented on #72
@icanzilb I've not given it too much thought since implementing the simple functionality I required. Here is some sample code:
[code]
Parameterizing `for: .download, mode: .forCurrentlyOutstandingWork` is an obvious enhancement, but whether to depend on `RealmSwift` dataypes is an open question.

[2017-06-06 10:16] grangej opened #80 "rx.observe unmanaged object appears broken"
When I attempt to observe single properties on an unmanaged object now and then later create a realm I get back an error about duplicate properties in the schema for that object. This was working previously so i'm not sure what changed ?

- Observing properties for an object that is already managed does not throw the error but this is not what I need.
- I have tried to remove the observe before cr

[2017-06-20 21:34] icanzilb commented on #80
Hmm ... I never thought about observing unmanaged objects 🤔 Since RxRealm just wraps Realm's own notifications, I'll have to check what's the expected Realm notification behavior. Thanks for pointing this out

[2017-06-27 13:44] RamwiseMatt opened #81 "Swift 4 support"
It's early days still, of course, but are there any plans to rewrite the library to support Swift 4?

[2017-06-27 13:48] freak4pc commented on #81
There's no reason to "Rewrite" it as its mainly very minor changes.
I'm sure some work could be done to improve some pieces to conform to it but besides that, no real rewrite is needed IMO.

It works fine in Xcode 9.0, tested :)

[2017-06-27 13:53] freak4pc commented on #80
Interesting use case but I'm not 100% sure unmanaged objects get notifications? They are detached, eventually, and are _unmanaged_ by nature

[2017-06-27 13:54] RamwiseMatt commented on #81
Poor choice of wording on my part.

I'm attempting to use it in Xcode 9 beta 2, and its coming up with:

`/Pods/RxRealm/Pod/Classes/RxRealm.swift:238:14: 'map' produces 'Observable<R>', not the expected contextual result type '(Array<Self.E.ElementType>, RealmChangeset?)'`

My naive assumption was/is that this was a consequence of Swift 4 changes.

[2017-06-27 13:55] freak4pc commented on #81
Are you using it in Swift 3 mode or Swift 4 mode ?

[2017-06-27 13:56] RamwiseMatt commented on #81
Swift 4 (as defined in Build Settings -> Swift Language Version)

[2017-06-27 14:16] freak4pc commented on #81
I don't think you would find many libraries that support Swift 4 out of the box right now.
In this library's case it's even more complex since there are two heavy dependencies - 1. RealmSwift itself, 2. RxSwift itself

I wouldn't expect seeing any progress on this until Xcode 9 reaches closer to a GM tbh

[2017-06-27 14:52] icanzilb commented on #81
@RamwiseMatt in my pov it doesn't make sense to start updating RxRealm before there are Swift 4 versions of RxSwift and RealmSwift.

[2017-07-08 10:22] avitruk opened #82 "What is the best way to deal with pagination?"
Hi, I'm just wondering, what is the best way to deal with pagination?

In this example we are getting all of the laps from Realm DB and then binding it to table

[code]
What is the best way if I want to show only 20 first or last records and load older/newer records with pull to refresh or by scrolling to end begin/end of the table? Should I manually handle loading of paginatable data  "chunk" and

[2017-07-08 15:26] icanzilb commented on #82
hi @avitruk - it will help if you describe your use case in a bit more detail, I'm not sure what are you trying to achieve by not showing all results and then showing more rows in the table when the user reaches the bottom 🤔 Tell me why are you trying to do that?

[2017-07-08 15:57] ghost commented on #82
Hi @icanzilb
Well, for example, chat with message caching or something similar to this task? What if we have a lot of stored data, but we do not want to load all of them at the beginning?

We can configure `NSFetchedResultsController` with` NSFetchRequest` and set fetchBatchSize to specific size. It allows to load data only when needed. So how can we achive this behaviour with Realm and Rx? Or are

[2017-07-08 16:51] icanzilb commented on #82
@avitruk oh I see. You must be assuming that Realm works the same way as Core Data does. It doesn't. When you define `Results` in Realm you do not load any data in memory. There's no copying of data from the disk into memory - Realm only loads the objects you use at the moment - that's usually 5-6 table rows at any given time. As you scroll through your table or collection view Realm will fetch ob

[2017-07-08 20:42] ghost commented on #82
@icanzilb Oh, thank for the clarification and the link!

[2017-07-08 20:42] #82 closed

[2017-07-08 20:53] icanzilb commented on #82
no problem at all 👍🏼

[2017-08-17 02:39] 1cookspe opened #83 "Argument labels '(object:)' do not match any variable overloads"
![screen shot 2017-08-16 at 10 18 41 pm](https://user-images.githubusercontent.com/8737691/29393316-11e2f128-82d1-11e7-9131-a9570a1cda0f.png)

I receive an error of "Argument labels '(object:)' do not match any variable overloads" at line 508 of "RxRealm.swift", located at https://github.com/RxSwiftCommunity/RxRealm/blob/master/Pod/Classes/RxRealm.swift. It is triggered on the line of "return from

[2017-08-17 08:13] freak4pc commented on #83
It should use the overload right below it. That's pretty interesting:
https://github.com/RxSwiftCommunity/RxRealm/blob/master/Pod/Classes/RxRealm.swift#L520

[2017-08-17 13:43] icanzilb commented on #83
@1cookspe are you using Carthage or CocoaPods?

[2017-08-17 16:30] 1cookspe commented on #83
@icanzilb I am using CocoaPods

[2017-08-17 16:39] icanzilb commented on #83
Strange, could you please try adding the object type like in the unit test:
https://github.com/RxSwiftCommunity/RxRealm/blob/master/Example/RxRealm_Tests/RxRealmObjectTests.swift#L40

[2017-08-17 17:43] 1cookspe commented on #83
Is this what you are referring to? I receive an error of "Use of undeclared type 'UniqueObject'"

![screen shot 2017-08-17 at 1 42 37 pm](https://user-images.githubusercontent.com/8737691/29425589-cdb5b702-8351-11e7-917b-32da12535f87.png)

[2017-08-17 17:47] icanzilb commented on #83
No, do not edit the source code of RxRealm. I was suggesting you add the type of object you are observing to your own code. If you're not sure how to add a comment with the line of code which triggered the original error and what type of realm object is your observed object and I'll show you how to add the type.

[2017-08-17 17:53] 1cookspe commented on #83
I'm not sure where this original error is triggered in my own code. Can you show me how to complete this? It would be much appreciated!

[2017-08-17 18:17] icanzilb commented on #83
I'm not completely sure myself how to help you if you don't know where in your code you call the API which gives you the error. If you can provide more details I can try

[2017-08-17 18:40] 1cookspe commented on #83
I install RxRealm by running the following code in my Podfile, correct?
`pod 'RxRealm'`

[2017-08-21 09:23] Tarpsvo opened #84 "Observable from optional (not working?)"
Hi.

I can not get my observable with binding to work.

My current usage is as follows:

Querying:
[code]

Using:
[code]

Any consequent updates (`realm.write { realm.add(profile, update: true) }`) will not update the created binding.

What am I doing wrong? Or this not intended to work?

[2017-08-21 09:29] icanzilb commented on #84
`Observable.from(optional:)` is not an RxRealm method - I'm not sure why does it not work.

[2017-08-21 09:29] #84 closed

[2017-08-21 09:47] Tarpsvo commented on #84
Hi.

Reworking it to not use `Observable.from(optional:)` fixed the issue. I will emit an error instead if the object does not exist. Not a big fan of it, but it works.

[2017-08-31 09:51] icanzilb commented on #81
@RamwiseMatt it's been a while but I thought to ping you anyway - there has been a `swift4` branch for a while

[2017-08-31 09:51] #81 closed

[2017-08-31 09:52] icanzilb commented on #80
The best way to approach this from my pov is to make a check if an object is unmanaged and throw if so. This shouldn't be how the API is to be used.

[2017-09-19 13:24] grangej commented on #80
Can you please help to understand what a good pattern would be for an edit screen with throw-away changes in realm?

Right now I found the safest approach is to create an unmanaged deep copy of an object and use that in the edit screen.

This allows me to safely use this object as a scratch object and make changes and only save back to realm if the user decides to save, otherwise the we just disca

[2017-09-28 14:21] rossrossp opened #86 "'carthage update' results in failed build"
A Cartfile containing just:
github "RxSwiftCommunity/RxRealm"
Results in a failure when building:

[code]

Logfile: (https://github.com/RxSwiftCommunity/RxRealm/files/1341213/carthage-xcodebuild.Uq3LIJ.log)

XCode CLI tools version: 8.3.3

[2017-09-29 05:32] icanzilb commented on #86
Any carthage specialists out there who want to help here? For what it's worth I guess it's worth asking your question also in the RxSwift slack ...

[2017-09-29 16:51] rossrossp commented on #86
Thanks for getting back to me - I'll do so!

[2017-10-03 02:13] bsrz commented on #86
This is from tag `0.7.1`
The build fails using Xcode 9 as well:

[code]

[2017-10-05 13:37] icanzilb commented on #86
@bsarrazin I merged your PR, can you check if this solves the original issue please?

[2017-10-05 13:42] icanzilb commented on #80
Sorry for the late answer - why can't you observe for changes on the scratchpad object? You can with either plain KVO or RxSwift's kvo wrapper - Realm objects inherit from `NSObject` so they support KVO in full - that's also the recommended way to observe single properties on Realm objects in the docs.

[2017-10-05 13:42] #80 closed

[2017-10-06 14:24] santiagofm commented on #86
0.7.2 still failing for me using xcode 9 😕

[2017-10-06 14:26] icanzilb commented on #86
@santiagofm  any specific error?

[2017-10-06 14:43] santiagofm commented on #86
Yeah, sorry.

`../SwiftyMatter/Carthage/Checkouts/RxRealm/Pod/Classes/RxRealm.swift:44:57: error: use of undeclared type 'T'
    public func toAnyCollection() -> AnyRealmCollection<T> {
                                                        ^
../SwiftyMatter/Carthage/Checkouts/RxRealm/Pod/Classes/RxRealm.swift:54:57: error: use of undeclared type 'T'
    public func toAnyCollection() -> AnyRealmC

[2017-10-07 15:34] icanzilb commented on #86
@santiagofm is your project Swift4? This is not supported yet

[2017-10-09 14:36] santiagofm commented on #86
@icanzilb Oh, okay my bad then.
Thanks

[2017-10-09 14:41] #86 closed

[2017-10-14 00:52] bsrz commented on #86
@icanzilb sorry for the late reply, it's been a crazy week.
Yes, all has been fixed, thank you for your help in this.

[2017-10-16 16:57] amccarri opened #88 "Do changeset observables work on background thread?"
IOW does RxRealm handle managing run loops for background threads to be able to observe changes in the background rather than in main thread?

[2017-10-16 17:56] icanzilb commented on #88
Not automatically. If you create a new thread based scheduler, install a run loop on it, and observe a collection on that thread - that'll work, but as said - that's not supported out of the box, you need to do your own setup (I was thinking about building something along those lines though)

Just in case you want to know more about notifications on bg threads: https://academy.realm.io/posts/realm

[2017-10-16 17:56] #88 closed

[2017-10-16 18:26] amccarri commented on #88
Thanks for the quick answer!  That article is actually what prompted me to ask this question.  I was thinking of doing something similar after reading that but wanted to check if RxRealm had already been there and done that.

[2017-10-18 09:04] joanii opened #89 "RxRealm compatible with RxSwift 4"
Currently RxRealm is compatible with RxSwift >= 3. When can it be compatible with RxSwift (4.0) ?

[2017-10-18 09:04] freak4pc commented on #89
There's a branch: https://github.com/RxSwiftCommunity/RxRealm/tree/mt/swift4.0

[2017-10-18 12:44] jdisho commented on #89
Thanks, but also the dependencies should be updated to:
 -  s.dependency 'RealmSwift', '3.0.0'
 -  s.dependency 'RxSwift', '4.0.0'

I created a pull request for that 👍

[2017-10-18 12:49] icanzilb commented on #89
Thanks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-18 19:10] KarinaFernandez commented on #89
Do you have any idea of when is going to liber the new release? Thanks!

[2017-10-18 19:15] icanzilb commented on #89
let's say within a week?

[2017-10-18 19:51] KarinaFernandez commented on #89
I will be attentive to it. Thank you so much!

[2017-10-20 09:01] icanzilb commented on #89
address in: https://github.com/RxSwiftCommunity/RxRealm/releases/tag/0.7.3

[2017-10-20 09:01] #89 closed

[2017-10-20 09:01] icanzilb commented on #83
closing due to lack of details

[2017-10-20 09:01] #83 closed

[2017-10-23 14:46] icanzilb opened #95 "bring back ios8 support"

[2017-10-27 11:28] Fouda commented on #95
hello I couldn't add RxRealm on swift3. I don't know which version I should specify
<img width="265" alt="screen shot 2017-10-27 at 12 29 09 pm" src="https://user-images.githubusercontent.com/12399604/32102015-d7d8c566-bb1a-11e7-9cb9-290fba0b543e.png">

This is what I get whenI tried to install the pod

<img width="574" alt="screen shot 2017-10-27 at 12 30 04 pm" src="https://user-images.githubuse

[2017-10-27 13:13] icanzilb commented on #95
The current version is  0.7.3 - it is swift 4/ and up to ios11, for swift 3 you can try 0.6.0. Also please open new issues when the existing issue is not related.

[2017-10-27 13:13] #95 closed

[2017-10-27 13:15] Fouda opened #96 "adding RxRealm on swift3"
I couldn't add RxRealm on Swift3 xcode8.3
<img width="269" alt="screen shot 2017-10-27 at 2 15 10 pm" src="https://user-images.githubusercontent.com/12399604/32105699-a435a0f8-bb29-11e7-8cf9-998a70a42e34.png">

I get this error when I install pod
<img width="616" alt="screen shot 2017-10-27 at 2 15 24 pm" src="https://user-images.githubusercontent.com/12399604/32105712-ae95e3f0-bb29-11e7-9865-4073

[2017-10-27 13:18] icanzilb commented on #96
Is your project swift 3.2 ?

[2017-10-27 13:21] Fouda commented on #96
Swift 3
<img width="616" alt="screen shot 2017-10-27 at 2 21 16 pm" src="https://user-images.githubusercontent.com/12399604/32105923-81c2f998-bb2a-11e7-9d3a-39c0a072090c.png">

[2017-10-27 13:28] icanzilb commented on #96
well, you need to resolve your conflicts as described by cocoapods's resolver - in your Podfile, you require RealmSwift 3.0.1 which is swift4/swift 3.2, and RxRealm 0.6.0, which is swift 3.1 ... I can't tell which swift version you use in your project from the screenshot you pasted above, but at least the RealmSwift and RxRealm should match.

If you have swift4, use RealmSwift 3+ and RxRealm 0.7+,

[2017-10-27 13:47] Fouda commented on #96
using swift3.2, can you specify the version of each pod :

<img width="271" alt="screen shot 2017-10-27 at 2 48 21 pm" src="https://user-images.githubusercontent.com/12399604/32107236-4ab5d5f2-bb2e-11e7-8b51-a8c99349c87f.png">

[2017-10-27 13:50] icanzilb commented on #96
No idea, have not built for swift 3.2

[2017-10-28 19:05] grangej commented on #80
Sorry for the late response to this: I am trying to do exactly what you say : use RxSwift KVO wrapper to watch for changes but when I do so on a unmanaged object and then later add that object to realm I get the crash. That is the problem.

I do not see how this is expected behavior. We shouldn't have to worry about if the object is managed or not if we are using KVO should we?

[2017-10-28 19:08] grangej opened #97 "Adding unmanaged object to realm after using KVO causes exception"
As reference to previous ticket (closed) #80

I am trying to do exactly what you say : use RxSwift KVO wrapper to watch for changes but when I do so on a unmanaged object and then later add that object to realm I get the crash. That is the problem.

I do not see how this is expected behavior. We shouldn't have to worry about if the object is managed or not if we are using KVO should we?

[2017-10-28 21:05] icanzilb commented on #97
sorry, this repository is about RxRealm - if you get a crash with RxSwift, maybe open an issue there?

[2017-10-28 21:05] #97 closed

[2017-10-29 10:25] rs-georg opened #98 "observeOn(): 'Only objects which are managed by a Realm support change notifications'"
When adding an object to Realm using a background queue the app crashes with the following exception:

`
*** Terminating app due to uncaught exception 'RLMException', reason: 'Only objects which are managed by a Realm support change notifications'
`

This is the class used to add the object:

[code]

It's called from the main queue like this:

[code]

Versions used

[code]

[2017-10-29 10:52] freak4pc commented on #98
The error message seems rather indicative :) The Object you're trying to add isn't a Realm managed object. Also, this seems to me like a question to the main Realm repo and not specifically RxRealm related.

[2017-10-29 11:05] rs-georg commented on #98
Yes, you're right. The object I add is not managed by Realm. That's why I call `Realm.rx.add(...` to add it to the Realm so it becomes a managed object. If I'm not completely mistaken that's how this is supposed to work. Or is there a different way to add an object to Realm?

Also, if I comment out the `.observeOn(...` line everything works fine.

[2017-10-29 11:11] icanzilb commented on #98
@rs-georg what you're doing in your code is to create an observable sequence out of a single object's change notifications - this is not supported by Realm. You can read how to react to object change notifications here: https://github.com/RxSwiftCommunity/RxRealm#observing-a-single-object

What you're looking for is the API allowing you to add objects to realm: https://github.com/RxSwiftCommunity/

[2017-10-29 11:11] #98 closed

[2017-10-29 11:20] rs-georg commented on #98
Thanks @icanzilb for your quick reply. I get it now.

I basically took the example from [#realmrxaddconfiguration](https://github.com/RxSwiftCommunity/RxRealm#realmrxaddconfiguration). Guess I can just put the single object into an array to make it work.

[2017-10-29 11:21] icanzilb commented on #98
Yeah, give that a try and chime in if there’s still smth wrong

[2017-11-27 12:23] alpex92 opened #99 "Call add()/delete() not in subscribe, to return Observable/Completable"
Is it possible to call add() before subscribe, in flatmap or somehow else?
I need to return a completable to subscribe later and listen to add completion/process error in another application layer.

func addPoint(point: POI) -> Completable {
        let points = [ point]
        let subscription = Observable
                .from(points)
                .subscribe(realm.rx.add())
        // Needs

[2017-11-27 12:38] icanzilb commented on #99
@alpex92 `Realm.rx.add()` is an Observer, not an Observable operator because it performs a side-effect. Further your subscription can emit multiple elements to which you subscribe so a Completable isn't a generic solution in there.

If you are looking to simply one-off add some element to a realm, what you need is:

[code]
I don't think you need to create observable at all in your example.

[2017-11-27 13:02] alpex92 commented on #99
I understand your point. I just expected other behavior: that add() will return observable, to listen to write success/error. And I can use ignoreElements() to return Completable as I don't care about further data changes here. But it just writes data with no callback option.

[2017-11-27 13:50] icanzilb commented on #99
Ok, good point. Before we had `Single` (not `Completable`) it didn't feel as such a clean solution for `add()` to be returning an observable sequence. But I can see a point in wanting to be able to safely perform side-effects only after the write transaction has completed. At present you can do something along the lines of this:

[code]

I'll ask for more opinions on the RxSwift Slack, thanks for

[2017-12-04 12:15] saeedmozaffari opened #101 "need update realm-cocoa (No such module 'RealmSwift')"
i use from xcode 9,
i can't build from RxRealm, because realm-cocoa version in **Cartfile.resolve** is older than latest version. now RxRealm use from `github "realm/realm-cocoa" "v3.0.0"` whiles latest verions is `github "realm/realm-cocoa" "v3.0.2"`. i was clone `RxRealm` and after than i manually update `realm-cocoa` to latest verions this problem was solved.
but in main project that i used fro

[2017-12-04 13:08] icanzilb commented on #101
I don't really know anything about Carthage, but maybe you can try deleting the `Cartfile.resolved` and try installing dependencies again? Just a thought

[2018-01-05 01:22] juniorgarcia opened #103 "Help wanted: Two-way binding"
Is it possible to achieve two-way binding between my Realm model and the UI? If yes, how so?

[2018-01-05 09:23] icanzilb commented on #103
there's no possibility specifically in RxRealm for two way bindings

[2018-01-05 09:23] #103 closed

[2018-01-05 11:53] ivangodfather opened #104 "Its possible to make an observable sequence out of a Result<Object> ?"
Lets say i have a:
let results: Results<User> = realm.objects(User.self)
let obResults: Observable<Results<User>> = Observable.collection(from: results)

Now everytime that dataset changes i get a notification of an results object (an array), what i would like is to transform that obResults into Observable<User> and everytime a the original dataset changes i get just a next user value.

[2018-01-08 20:29] icanzilb commented on #104
I'm not quite sure what you're trying to achieve. Could you explain in a different way (maybe with some pseudo code?)

[2018-01-08 22:31] jessemx109 opened #105 "Unable to fetch results on background thread"
Hello when I try and fetch results from realm on a background thread I get an exception inside of realm. To get around this I am having to switch to the main thread for all queries even if I don't need to

[2018-01-08 22:31] freak4pc commented on #105
Are you sure the Realm itself is created on the thread from which you’re trying to fetch ?

[2018-01-08 22:49] jessemx109 commented on #105
Yes positive. The exception being thrown by Realm is
"Can only add notification blocks from within runloops."

[2018-01-08 23:00] jessemx109 commented on #105
I do notice in the source code that the scheduler is passed in but never used in the Observable.array(from:) functions

[2018-01-08 23:17] freak4pc commented on #105
In any way this is not a RxRealm Issue, but a Realm limitation.

See here: https://github.com/RxSwiftCommunity/RxRealm/issues/11#issuecomment-228116773

[2018-01-08 23:17] #105 closed

[2018-01-08 23:27] jessemx109 commented on #105
I was able to work around this by subscribing instead of observing on a background scheduler following that post and another on the RxSwift repo

[2018-01-16 15:21] #104 closed

[2018-03-26 20:32] DanielAsher commented on #72
Closed as stale.

[2018-03-26 20:32] #72 closed

[2018-04-24 00:40] jessemx109 opened #107 "Observable.from(object: object) Not emitting event when sub object changes"
I am using Observable.from(object: object) to listen to changes on a realm object. If I make changes to the object I pass into the call they are reflected in the stream. If I make a change to a child object the stream doesn't not emit an event

The strange thing is in another piece of code I'm doing a similar thing but observing an array of items and the changes from their children trigger an onNe

[2018-04-25 01:04] rrozenv commented on #107
Having the exact same problem. Observable.changeSet(from: ) successfully relays changes if they are made to child realm objects, but Observable.from(object: ) only detects a change if the change is made directly to one if it's properties that is not another realm object.

[2018-05-14 09:26] hakkurishian opened #108 "WithoutNotifying: token - UI driven writes"
I have a two-way binding like situation where I want to prevent the UI from updating a textfield every time the DB changes from its own source.
My idea would be to use the commit without notifying API, but is this possible with RxRealm, can I acces it’s subscriptions token directly ?

[2018-06-01 18:53] hakkurishian opened #109 "Swift 4 Key path"
For observing one property of an Object, key paths could be added to make querying more typesafe like so:

[code]

I have this implemented in my own project bridging to the realm API using _kvcKeyPathString which works perfectly.

[2018-06-06 13:05] #96 closed

[2018-06-26 06:29] KKwallet opened #110 "How to replace the dataSource?"
How to switch the dataSources when sharing a tableview?

[2018-06-26 09:52] icanzilb commented on #110
I have never tried to do that, but simply creating a new data source and binding it to the table view should be enough. (and of course releasing the old one from memory)

[2018-07-03 09:18] #110 closed

[2018-08-11 08:21] ETmanwenhan opened #111 "modify the properties of Objec"
How to modify the properties of Object without immediately updating to the database?

[code]

[code]

error
[code]

[2018-08-11 11:25] freak4pc commented on #111
Hey, This isn't a RxRealm question, but is actually a Realm question.
Please refer to their documentation / issue system.

In general, objects are managed so you'll have to make copies of them if you want to modify them outside of a write transaction.

[2018-08-11 11:25] #111 closed

[2018-08-11 11:29] ETmanwenhan commented on #111
This is my solution：
[code]

[2018-09-20 07:37] SmolskyNeklo opened #112 "Support Xcode 10 and swift 4.2"

[2018-09-21 14:40] adriantabirta commented on #112
Have the same problem

[2018-09-21 15:12] freak4pc commented on #112
Seems to be an issue building Realm in Carthage: https://github.com/realm/realm-cocoa/issues/5928

Waiting on response there.

[2018-09-21 15:47] freak4pc commented on #112
Can you share what exactly you tried? There is no detail in this.
When using `carthage build --platform iOS` there is no issue.

As for a general Carthage installation, there is an open bug that was merged and waiting release there: https://github.com/Carthage/Carthage/pull/2561

On CocoaPod I also couldn't see an issue. Please share some more information :)

[2018-09-25 10:09] abeintopalo opened #113 "Potential crash in UITableView when collection changes observed synchronously"
Let's take the sample code from the readme:

[code]

The above code sets _synchronousStart_ to _true_ by default.

Here is the implementation of `Observable.changeset(from: synchronousStart)`:

[code]

If the database is modified continuously from a background thread it can happen that the database changes in between invoking code `observer.onNext((collection.toAnyCollection(), nil))` and `guard !

[2018-09-25 18:03] cruisediary commented on #112
https://github.com/RxSwiftCommunity/RxRealm/tree/0.7.6 release

[2018-09-25 18:16] adriantabirta commented on #112
freak4pc - thx, worked for me

[2018-09-25 18:43] #112 closed

[2018-10-14 11:11] Blackening999 commented on #101
Same  issue.  Only 0.7.5 is available at CocoaPods

[2018-10-14 11:15] Blackening999 commented on #112
Please update cocoa pods!

[2018-10-14 12:02] freak4pc commented on #112
@carlosypunto @icanzilb You're the two only owners for this repo - could any of you push a new podspec?

Also, if possible. could you add `community@rxswift.org` as an owner so everyone can upload a release later on?

e.g.
`pod trunk add-owner RxRealm community@rxswift.org`

Thanks !

[2018-10-26 11:56] mcousillas6 opened #114 "0.7.6 version is not available on cocoapods"
Hey there!

We were going to upgrade our app to target the latest version and we came into this issue.

Looks like `0.7.6` is not published on the registry.
The pod works fine installing it targeting the repo, so it's only missing to be pushed to cocoapods.

[2018-10-26 11:59] freak4pc commented on #114
@icanzilb / @carlosypunto - You're the only two with the ability:
![image](https://user-images.githubusercontent.com/605076/47564985-97e72b80-d92f-11e8-9d8a-b32bdbdd247d.png)

Would you also mind adding `community@rxswift.org` so others can help you ?
e.g.
`pod trunk add-owner RxRealm community@rxswift.org`

[2018-10-26 17:52] icanzilb commented on #114
done, @freak4pc can you verify you got access please?

[2018-10-27 11:28] freak4pc commented on #114
Yup, thanks @icanzilb !

0.7.6 is out.

[2018-10-27 11:28] #114 closed

[2018-11-19 10:04] iaaflaafc opened #116 "How to ensure that some code runs on same background thread with runloop?"
This is a question on how to use rxrealm on background thread and not a issue

I have asked this question on [StackOverflow](https://stackoverflow.com/questions/53317442/how-to-ensure-that-some-code-runs-on-same-background-thread-with-runloop) but did not get the answer

I have certain code that I must execute in a specific background thread since realm objects cannot be shared across threads.

Si

[2018-11-19 10:33] ghost commented on #116
closing as answer present here - https://stackoverflow.com/a/53372668

[2018-11-19 10:33] #116 closed

[2018-11-20 05:15] ghost commented on #107
Any workaround for this issue?

[2018-11-30 09:03] DhbStudy opened #117 "Help: about threading and autoreleasepool"
In the Realm docs, they say:

" Wrapping all use of Realm APIs from background threads in explicit autorelease pools. "

But in the RxRealm, I haven't find that. Should I use RxRealm only in the main scheduler? or not?

[2018-11-30 09:05] DhbStudy commented on #117
Here is the realm example:

[code]

[2018-11-30 09:12] freak4pc commented on #117
Did you simple try a `subscribeOn` some background scheduler ?

[2018-11-30 09:30] DhbStudy commented on #117
Yes. Should I subscribeOn a scheduler like "RunLoopThreadScheduler" ?

[2018-12-03 00:36] #117 closed

[2018-12-17 20:39] Blackening999 opened #118 "Object is instantly deleted after being created"
Hello

I can't understand why Realm behaves like this

I  have logged  in, confirmed email and then simply on the controller viewDidLoad trying to understand what the hell is going :)

As an output of the code below, first, I see changes as record inserted, shortly after as deleted!

No clue why it's happening

UserItem
[code]

ViewController
[code]

[2018-12-19 10:19] Blackening999 opened #119 "Doesn't Sync with Real Platform"
Hello,

basically, the joyful journey into Realm ended up as terrible time loss.

https://docs.realm.io/sync/using-synced-realms/syncing-data#subscribing-to-data-reading-data

RxRealm doesn't work if you don't subscribe :\

I have 1 UserItem in my Realm

This code shows 0 users:
[code]

With this missing line, it shows correct "1 user"
[code]

I originally thought RxSwift can handle returned SyncS

[2018-12-19 10:40] icanzilb commented on #119
I wouldn’t want to lose more of your time.

[2018-12-19 10:40] #119 closed

[2018-12-19 10:45] Blackening999 commented on #118
Related to https://github.com/RxSwiftCommunity/RxRealm/issues/119
The issue were exactly because of partial sync weren't handled properly

[2018-12-19 10:45] #118 closed

[2018-12-19 16:51] Blackening999 commented on #119
In case someone stuck on partial sync. I have found this workaround that works for me.
Hope it doesn't look like a crutch :)

[code]

[2019-02-14 09:29] pchmelar commented on #107
So far I'm using something like this:

[code]

[2019-02-16 07:47] aiosDeveloper opened #120 "Unhandled error happened: objectDeleted"
When I attempt to clean my db, this error was shown! "objectDeleted"

I use observer from this object in different place of my code.

this function in RXCocoa.swift call error:
`// MARK: Shared with RxSwift

func rxFatalError(_ lastMessage: String) -> Never  {
    // The temptation to comment this line is great, but please don't, it's for your own good. The choice is yours.
    **fatalError(lastMe

[2019-02-16 08:02] icanzilb commented on #120
If you are observing an object that gets deleted you get ab error

[2019-02-16 08:02] #120 closed

[2019-02-16 08:07] aiosDeveloper commented on #120
yes, thanks! but what we can do to solve this error?
i need to observe an object and delete it when user loged out

[2019-02-16 08:08] freak4pc commented on #120
Maybe just mark the record as logged out, get the update, and then delete it.

[2019-02-16 10:52] aiosDeveloper commented on #120
how I can delete the record that was observe by UI objects?!

`Observable.from(object: profileInDb)
                    .map { profile -> UIImage in
                        let avatar = self.imageStorageHandler.loadImageFromPath(profile.avatarDir)
                        return avatar ?? #imageLiteral(resourceName: "test")
                    }
                    .bind(to: self.userImage.rx.image

[2019-02-16 10:53] freak4pc commented on #120
This repo's issues are more about technical issues with the library -
I suggest to open a Stack Overflow question or post a question on RxSwift's slack: http://slack.rxswift.org

[2019-02-20 13:04] micheltlutz opened #121 "Realm.rx.delete() and Realm.rx.add() crash with same object"
Use case:

I have a favorite button, when it's favorited I press it again it changes to unfavorite and removes the record. When I re-favorite it it should insert the object again but it accuses this error below

Crash with error:
[code]
[code]

[2019-02-20 17:55] micheltlutz commented on #121
Repo with problem:

https://github.com/micheltlutz/FavoriteRxRealm

[2019-03-30 20:27] anonrig opened #122 "RealmSwift-Swift.h not found"
After updating to XCode 10.2, I'm receiving the following error and I can't build.

And I'm also receiving Could not build Object-C module 'RealmSwift'

![Screen Shot 2019-03-30 at 11 26 45 PM](https://user-images.githubusercontent.com/1935246/55281300-5ece3f80-5343-11e9-8f32-41dd3bcc5856.png)

[2019-05-15 19:35] leandropjp commented on #122
I changed the Build System to legacy and it worked again.

[2019-07-24 07:08] ajmeerkhan opened #127 "RxRealm is failed to rebuild in Xcode 11 Build 4"
Hi,
Am trying to rebuild my RxRealm version 1.0.0 with Carthage in Xcode 11 Build 4, but Build Failed.

Even I tried below workaround to overcome the error, but its un successful.
https://github.com/Carthage/Carthage/issues/2825

Any help to resolve this.

[2019-07-24 11:04] ajmeerkhan commented on #127
I need to update the version of RxRealm to support Xcode 11 Build 4, so now it's working.

[2019-07-24 11:04] #127 closed

[2019-07-26 03:59] g-enius opened #128 "Need to upgrade to depend on RealmSwift 3.17 rather than still 3.14"
Getting warnings for public func add<O: Object>(update: Bool = false,
                               onError: ((O?, Error) -> Void)? = nil) -> AnyObserver<O>

Warning:
'add(_:update:)' is deprecated: Pass .error, .modified or .all rather than a boolean. .error is equivalent to false and .all is equivalent to true.

[2019-08-10 17:19] natemann opened #129 "Swift Package"
I see that at Package.swift has been added, but I am getting an error stating there is no Package.swift manifest for version 1.0.0. Is a new release needed to use RxRealm in as a Swift Package

[2019-08-12 08:18] MCKapur opened #130 "Observable.from(optional: ...) completing after emitting initial value"

[2019-08-12 08:36] freak4pc commented on #130
Please open a new issue with full details, and a reproducible code sample. We can not support partial issues.

[2019-08-12 08:36] #130 closed

[2019-08-12 15:38] mckapur opened #131 "Observable.from(optional: ...) completing after emitting initial value"
Sorry for the previous issue without much info — here's a new ticket.

When creating an Observable from a managed Realm object using `Observable.from(optional: managedRealmObj)`, the expected behavior is that — similar to using `Observable.from(object: managedRealmObj)` — a stream should be created that emits an initial value of the object, and then new values when the update is updated via a writ

[2019-08-16 08:39] phongleq commented on #129
Looks like it might had been added to the pod workspace since the manifest file path is set to "Pod/Classes"

[2019-08-16 10:23] freak4pc commented on #129
Can you try 1.0.1 ?

[2019-08-16 17:01] phongleq commented on #129
Thanks! That worked for me. Yesterday 1.0.0 was the minimum which was having issues.

[2019-08-16 19:07] freak4pc commented on #129
Yup, there was a new Package.swift but no release.

[2019-08-16 19:07] #129 closed

[2019-09-12 19:34] eharo2 commented on #128
Any solution yet?

[2019-09-24 19:55] Henriquedrdc opened #133 "Attempting to Install using Xcode 11 SPM fails cloning dependencies"
When trying to install RxRealm using SPM it throws error cloning dependencies.

`Failed to clone 'src/external/pegtl'`

`Failed to clone 'Realm/ObjectStore'`

Is there anything we can do, or we just have to wait for those dependencies to support SPM ?

[error.txt](https://github.com/RxSwiftCommunity/RxRealm/files/3649156/error.txt)

[2019-09-30 09:35] vavlev commented on #128
Realm.UpdatePolicy.error

[2019-11-04 06:45] azizdev opened #135 "create is depreciation"

[2019-11-04 06:45] #135 closed

[2019-11-04 06:47] azizdev commented on #135
please delete this was by mistake

[2019-11-18 14:59] Leonif commented on #128
realm.add(object, update: .all)

[2019-11-26 02:23] ikesyo opened #137 "v1.0.1 and v2.0.0 are not published to CocoaPods Trunk"
[code]

[2019-11-26 02:26] ikesyo commented on #137
A similar issue: #114

[2019-11-26 02:27] ikesyo commented on #137
@icanzilb / @carlosypunto Could you take a look?

And also @freak4pc and @catelina777 should be the pod's owner for publishing to CocoaPods Trunk I think.

https://guides.cocoapods.org/making/getting-setup-with-trunk.html#adding-other-people-as-contributors

[2019-11-26 06:44] freak4pc commented on #137
I’ll try to take care of these today

[2019-11-26 10:01] freak4pc commented on #137
🎉  Congrats

 🚀  RxRealm (2.0.0) successfully published
 📅  November 26th, 11:22
 🌎  https://cocoapods.org/pods/RxRealm
 👍  Tell your friends!

1.1.0 is pointless since it's an SPM release only (no code changes)

[2019-11-26 10:01] #137 closed

[2019-11-27 03:53] ikesyo commented on #137
Thanks @freak4pc!

[2019-11-27 23:46] alekop opened #138 "Binding error: objectDeleted"
I'm getting a fatalError when deleting an object that's being observed. It seems reasonable to send an error event to the observable when its target disappears, bit this doesn't seem like a reason to terminate the app.

The code that's deleting from the Realm is far away from the UI that's holding the subscriptions, so it's impractical to find them all and dispose of them.

This must be a fairly c

[2019-12-04 20:16] fllaryora commented on #128
Thanks @Leonif , That solve my problem. Took me a while the meaning of your code be cause I have just come from goolge to this page.

[2020-03-26 20:55] arthur798 opened #139 "Update to RealmSwift 5?"
Is there a planned release for RealmSwift 5? I am using this package however I can't update RxSwift to version 5 which removes UI webkit as I can't update RealmSwift 5 because of RxRealm not support version 5. is there anything planned at all?

[2020-04-20 00:00] alekop commented on #131
I just ran into the same issue. Is this resolved? Strange that there is no activity on this issue.

[2020-04-20 00:04] alekop commented on #84
This is still broken. I just wasted an hour tracking a bug down to this method, and rewrote my code to use `Observable.from(object:)` and emitting an error when not found.

[2020-04-20 00:08] alekop commented on #84
The reason `Observable.from(optional)` doesn't track Realm changes is that it is not a RxRealm method! It comes from RxSwift, and doesn't know anything about Realm Results.

[2020-05-13 10:16] M0rtyMerr commented on #139
Hey @arthur798!
RealmSwift latest release version is `4.4.1`. Version 5 is still in beta. `RxRealm` currently supports RxSwift `5.*` and Realm `4.*`

[2020-05-13 10:19] M0rtyMerr commented on #128
Closing this, cause issue was resolved!

[2020-05-13 10:19] #128 closed

[2020-05-13 10:24] M0rtyMerr commented on #133
Just successfully install `RxRealm` via SPM with `Xcode Version 11.4.1 (11E503a)`. Closing this, cause problem seems to be resolved. Feel free to reopen that issue in cause of any troubles!

[2020-05-13 10:24] #133 closed

[2020-05-13 10:46] M0rtyMerr commented on #138
Hey @alekop could you please provide sample code of the issue?
I just tried to reproduce your case with following code:
[code]
And I didn't get a fatal error, just usual RxSwift error.
Please note, that if you are using `RxCocoa.bind(onNext:)` instead of `RxSwift.subscribe(onNext:)` it will raise `fatalError` in debug mode on ALL unhandled errors, not only RxRealm specific.

https://github.com/Rea

[2020-05-13 10:55] M0rtyMerr commented on #131
Hey @mckapur @alekop thank you for raising this question!
`Observable.from(optional:)` is `RxSwift` method, not `RxRealm`. It knows nothing about `Realm.Object` specific semantic (such as observing changes).
The main purpose of this method (from RxSwift docs):

It simply checks if optional is empty, emits its value and then completes.

So, this is required behaviour and it can't be "fixed".
If you

[2020-05-13 11:06] M0rtyMerr commented on #122
Just verified that it works as expected with `Xcode Version 11.4.1 (11E503a)`. Closing this due to lack of activity. Please feel free to reopen the issue if problem still occurs !

[2020-05-13 11:06] #122 closed

[2020-05-13 11:10] M0rtyMerr commented on #101
Just successfully install RxRealm via `Carthage` with `Xcode Version 11.4.1 (11E503a)`. Closing this, cause problem seems to be resolved. Feel free to reopen that issue in cause of any troubles!

[2020-05-13 11:10] #101 closed

[2020-05-17 04:17] awfulcode opened #142 "Carthage error 65 when compiling for tvOS"
I'm a bit puzzled by this one. Can you confirm I'm trying to build using
`carthage update --platform tvOS`.

Cartfile only has this in it:
`github "RxSwiftCommunity/RxRealm"`.

Here's the error at the end of the log:

[code]
I tried clearing out the cache and DerivedData, but still hit the same error. Do you have the same issue or am I doing something wrong?

This is with Xcode 11.4.1
Build versio

[2020-05-18 07:38] jenbitcoin commented on #139
Hi @MortyMerr Realm v5.0.0 is no longer beta. https://github.com/realm/realm-cocoa/releases/tag/v5.0.0  --- I hope RxRealm will be updated to use this version too.

[2020-05-18 09:10] M0rtyMerr commented on #139
Thank you for update! I will take a look, API also requires update with freeze property

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-06-04 10:08] #139 closed

[2020-06-04 10:49] M0rtyMerr commented on #139
@jenbitcoin migrated to Realm 5 in latest release

[2020-06-04 10:50] M0rtyMerr commented on #131
Closing this due to lack of activity

[2020-06-04 10:50] #131 closed

[2020-06-05 06:16] trr-amsiq opened #144 "SPM - Target integrity: The package product 'Realm' requires minimum platform version 11.0 for the iOS platform, but this target supports 8.0"
Xcode: 11.5
RxRealm: 3.0.0
Realm: 5.0.2
RxSwift: 5.1.1
iOS Deployment target: iOS 11.0

Getting errors:
 - The package product 'Realm' requires minimum platform version 11.0 for the iOS platform, but this target supports 8.0
- The package product 'RealmSwift' requires minimum platform version 11.0 for the iOS platform, but this target supports 8.0

[2020-06-05 10:43] M0rtyMerr commented on #144
Thank you for reporting this! It was fixed in RxRealm 3.0.1

[2020-06-05 10:46] tristangrichard commented on #144
Thanks!

[2020-06-05 10:46] #144 closed

[2020-06-05 15:33] M0rtyMerr commented on #138
Closing this due to lack of activity

[2020-06-05 15:33] #138 closed

[2020-06-05 15:48] M0rtyMerr commented on #107
Hey @rrozenv  @jessemx109 thank you for reporting that!
This is intended Realm behavior, please check this issue - https://github.com/realm/realm-cocoa/issues/5878
If you try to implement this behavior without RxRealm, you will see that it's similar.
[code]
RxRealm is a reactive extension to Realm. We can't modify Realm behavior :(
I am afraid, this can't be fixed. Using provided workaround is tot

[2020-06-05 16:22] M0rtyMerr commented on #108
Hey @hakkurishian sadly you can't access `NotificationToken` directly.
RxRealm encapsulates `NotificationToken` inside and wraps it with RxSwift.Disposable. You may want to check RxRealm.swift:146 where this is implemented.

[2020-06-05 16:24] M0rtyMerr commented on #99
Closing this, because the problem seems to be resolved

[2020-06-05 16:24] #99 closed

[2020-06-05 16:25] M0rtyMerr commented on #113
Similar with - https://github.com/RxSwiftCommunity/RxRealm/issues/74
Can reproduce it

[2020-06-05 16:39] M0rtyMerr commented on #121
Hey @michaelavila thank you for reporting this.

I reviewed the provided repo, this error is not connected to RxRealm. It's caused by a little issue with Realm usage.

The point is - you can't modify objects, which were removed from Realm. Here is corresponding SO question - https://stackoverflow.com/questions/31852782/realm-object-has-been-deleted-or-invalidated

To make it work you need to creat

[2020-06-07 09:25] #107 closed

[2020-06-07 09:25] #121 closed

[2020-06-12 11:45] martindaum commented on #142
The same happens when building for watchOS

[2020-06-14 09:51] hakkurishian opened #146 "Support for MongoDB Realm"
It would be great to support [MongoDB Realm ](https://www.mongodb.com/realm)( RealmSwift >= 10.0).

[2020-06-15 09:02] M0rtyMerr commented on #146
As I can see RealmSwift > 10.0 is still in beta

[2020-06-15 09:03] M0rtyMerr commented on #108
close due to lack of activity, feel free to reopen

[2020-06-15 09:03] #108 closed

[2020-06-15 09:06] hakkurishian commented on #146
It is. I'm testing RxRealm currently with it from my fork and so far it looks good. When it is out of beta I consider a PR.

[2020-07-06 05:57] xljhd opened #148 "xxx.realm File is missing"

[2020-07-06 08:14] #148 closed

[2020-08-07 20:34] JoeMatt commented on #142
Ditto for me building a tvOS/iOS project. Worked with previous versions. XCode 11.5

[2020-08-08 05:59] freak4pc commented on #142
@MortyMerr Any chance you can look here if you have a moment?

[2020-09-28 22:15] phatblat commented on #146
In the release notes for [`10.0.0-beta.5`](https://github.com/realm/realm-cocoa/releases/tag/v10.0.0-beta.5) it looks like they are adding support for Combine. Could RxRealm benefit from that by layering on top of the Combine APIs?

[2020-10-12 16:08] Mazorati opened #150 "Undefined symbols for architecture x86_64"
Xcode 12.0.1
Cocoapods: 1.9.3
RxRealm: 3.0.1

Linking error:

Can not build my project.. Have tried to remove cocoapods and install again.. Does not help..

[2020-10-14 08:19] rubenbacanu commented on #150
+1

[2020-10-15 06:25] jwomack440 commented on #150
+1

[2020-10-17 06:25] hakkurishian commented on #146
Now the 2nd RC is there.

[2020-10-17 07:21] freak4pc commented on #146
You said you have a fork. Why not submit a PR ?

[2020-10-17 21:47] hakkurishian commented on #146
@freak4pc -my fork seems to work for the purpose of my app but I will need to run all tests to find potential bugs. However, except the podspec dependencies I did not change anything yet (since it seems to work).

[2020-10-19 06:31] nvelichkin commented on #150
@Mazorati updating RealmSwift to 5.5.0 fix this issue for me

[2020-10-28 12:13] peterlendvay opened #151 "carthage update fails with exit code 65 - xCode 11.6"
[code]

Any ideas?

[2020-10-29 16:23] pierre-wehbe commented on #146
Any plans to support 10.0.0 soon?

[2020-10-29 16:26] freak4pc commented on #146
If anyone wants to put up a full PR I'm happy to review and cut a release.

[2020-10-30 01:20] liyu-wang commented on #150
+1

[2020-11-02 18:12] Ar-Shak commented on #150
+1

[2020-11-05 14:19] phatblat commented on #146
There's a new [SwiftUI guide](https://docs.mongodb.com/realm/ios/swiftui/) up which demos use of the [`AsyncOpenPublisher`](https://realm.io/docs/swift/latest/api/Enums/RealmPublishers/AsyncOpenPublisher.html) (new in [10.1](https://github.com/realm/realm-cocoa/releases)). I may take a stab at a PR, but am still wrapping my head around Combine right now.

[2020-11-05 20:21] hakkurishian commented on #146
Unfortunately my fork broke on the latest (10.0) release. I decided to use Combine + RealmPublishers and use simple wrappers to connect to Rx.

[2020-11-10 09:39] GaDaXaRa commented on #150
+1

[2020-11-13 05:57] jessehao commented on #150
I solved this problem by updating macOS. 😂

macOS 10.15.4 -> macOS 10.15.7

[2020-11-14 07:46] jessehao commented on #150
The solution works for me:

[code]

Then reinstall pods of your project.

[2020-11-18 10:37] tipshot opened #153 "Opening Realm files of format version 20 is not supported by this version of Realm"
describe：
I just started using swift and took over a swift project. After downloading an application from appStore and using it, then running it directly to the mobile phone through XCode, it will crash here. There has been a change between the online version and the current XCode version realm: podfile:'RealmSwift', '5.1.0' - > pod 'RealmSwift', '10.0.0', and then pod install.

Complete question：

[2020-11-23 03:58] evansben87 commented on #150
anyone resolve this issue?

[2020-11-24 10:31] tristangrichard commented on #74
Anything new on this? Any workaround?

[2020-11-24 10:31] tristangrichard commented on #113
Anything new on this? Any workaround?

[2020-11-24 10:32] freak4pc commented on #74
Hey Tristan,
To the best of my knowledge there is currently no maintainer/owner for this project.
If you or someone you know wants to take responsibility and ownership for fixing it up and cutting a new release, I’m happy to provide permissions to do so.

Shai
On Nov 24, 2020, 12:31 PM +0200, Tristan Richard <notifications@github.com>, wrote:

[2020-12-04 08:34] rgal75 opened #155 "Version 4.0.0 is not available from Cocoapods"
Can you, please estimate when version 4.0.0 will be available from Cocoapods?

[2020-12-06 01:10] rynecheow commented on #155
@rgal75 Do use v4.0.2 from Cocoapods

[2020-12-06 01:10] #155 closed

[2020-12-06 01:11] rynecheow commented on #153
Do use v4.0.2 from Cocoapods @tipshot

[2020-12-06 01:11] #153 closed

[2020-12-06 01:11] rynecheow commented on #146
Do use v4.0.2 from Cocoapods @hakkurishian

[2020-12-06 01:11] #146 closed

[2020-12-06 01:18] rynecheow commented on #151
@peterlendvay Please try again with the latest version >4.0.0

[2020-12-06 01:18] #151 closed

[2020-12-06 01:19] rynecheow commented on #150
@Mazorati Could you try again using the latest version on Cocoapods and let us know if the issue persists?

[2020-12-06 01:19] #150 closed

[2020-12-16 17:20] mstroshin opened #157 "Invalid `RxRealm.podspec` file: no implicit conversion of nil into String."
Hello.
I tried to update RxRealm with cocoapods command: pod update
and get error:

[!] Failed to load 'RxRealm' podspec:
[!] Invalid `RxRealm.podspec` file: no implicit conversion of nil into String.

  from /var/folders/jy/_jg7v5ln4k37z0d73rz1k1ph0000gn/T/d20201216-3665-wntxxw/RxRealm.podspec:14
     s.authors = { "RxSwift Community" => "community@rxswift.org" }
     s.source = { :git => "https:

[2020-12-16 17:27] freak4pc commented on #157
Hey @rynecheow
If you're using this for automation purposes you should move the template to a different file since some people link directly to the spec.

Let me know if you need help

[2020-12-16 17:36] mstroshin commented on #157
upd: this error only appears if the Podfile contains **git**
pod 'RxRealm', :git => 'https://github.com/RxSwiftCommunity/RxRealm.git'

After I removed it, everything was fine.

[2020-12-16 19:53] freak4pc commented on #157
Yup, that makes sense - I imagine you linked directly to the pod spec in the repo which is why you bumped into this.
This is still an issue that we should solve so I tagged @rynecheow accordingly. Thanks for reporting!

[2020-12-19 06:31] smartrejames opened #158 "RxRealm v4 should update iOS development target to v11"
Actually 3.0.1 had this fix #144

[2020-12-19 15:50] 4omar9 commented on #158
I am having this issue on xcode 12.3.

[2020-12-20 03:04] rynecheow commented on #157
@freak4pc Yeah will move it into a proper place as this is only for release automation. Thanks for reporting @mstroshin :)

[2020-12-20 04:02] rynecheow commented on #158
@omarmasripro @smartrejames Please try with v4.0.3

[2020-12-20 04:02] rynecheow commented on #158
the issue should have been addressed.

[2020-12-20 04:02] #158 closed

[2020-12-20 08:01] 4omar9 commented on #158
@rynecheow Thank you it worked when I set the version to be **exactly** 4.0.3.

[2020-12-20 12:35] #157 closed

[2020-12-20 15:42] smartrejames commented on #158
@rynecheow It worked! Thanks a lot

[2021-01-03 04:16] #109 closed

[2021-01-03 04:16] #142 closed

[2021-01-25 11:42] ian4hu opened #160 "Can we reference the RxRealm.xcframework in Package.swift?"
Package.swift can reference the xcframework as github release, so that we could use the xcframework in user project. Should we support it?

add targest like

[code]

[2021-02-25 05:12] hhl1809 opened #161 "/Users/luanhuynh/Desktop/Motorist_IOS/Motorist.xcodeproThe linked framework 'RxRealm.framework' is missing one or more architectures required by this target: armv7."
<img width="506" alt="Screen Shot 2021-02-25 at 12 11 01" src="https://user-images.githubusercontent.com/23712212/109106566-9f6aa980-7762-11eb-9e38-6685d3ed2fd8.png">
Hello I faced this issue when install RxRealm by Carthage. Any one can help ?

[2021-04-29 12:38] Sethmr opened #164 "RealmSwift version 10.5.1 is no longer compatible with Xcode's latest version."
RealmSwift 10.5.1 is the last version supported by RxRealm, but RealmSwift 10.5.2 has the fix for compatibility. I am forced to stay at Xcode version 12.4 until RxRealm can support this or I have to remove RxRealm from our library.

Please let me know how long you think it will be before there is support. Thanks!

[2021-04-30 16:58] icanzilb commented on #164
@Sethmr would you like to create a PR for the update?

[2021-05-12 18:32] Sethmr commented on #164
We just transitioned to Combine. All the best for the RxSwift community. We were heading in that direction either way. Thank you for an awesome framework that helped out a ton!

[2021-05-25 17:47] tristangrichard opened #166 "Question Realm 4.4.1 RxSwift 6+"
Hi you guys,

I have a lot of problems with the 5+ and 10+ versions of realm and do not feel like upgrading. Does anyone have a fork of RxRealm 2.0.0 that supports RxSwift 6+?

Cheers

[2021-07-05 05:14] aiaagentapp opened #169 "SortDescriptor Getting error on Xcode-13 beta 2"
I am facing below SortDescriptor issues .

Reference to generic type 'SortDescriptor' requires arguments in <...>

Type of expression is ambiguous without more context

[2021-09-19 10:46] mtgto opened #172 "[Feature Request] Support Key Path Change Listener"
Since RxRealm 10.12.0, function observe can receive keyPaths parameter, which can select object properties object or collection.
https://docs.mongodb.com/realm/sdk/ios/examples/react-to-changes/#register-a-key-path-change-listener

I want to write code with RxRealm like below 😍  :
[code]

[2021-12-07 12:28] anton-plebanovich commented on #74
Demo code may be even simplier:
[code]

Expected output:
[code]

Actual output:
[code]

The issue is that we need to check both collections for equality to decide if we should or should not emit an event in `initial` which is cumbersome and close to impossible in practice.

RxRealm is just a wrapper around Realm and shouldn't bring unexpected side effects like this one. The other issue is that `sy

[2021-12-08 11:35] ankit-ios opened #173 "App is crashing while writing into DB, PFA of crash report."
<img width="1499" alt="Screenshot 2021-12-08 at 5 04 32 PM" src="https://user-images.githubusercontent.com/16607921/145201929-13dd3108-d105-4b49-b042-f9077c0a2325.png">

[2021-12-08 11:37] ankit-ios commented on #173
Please find the screenshot of crash report.

[2022-01-07 13:36] arshiacont opened #174 "Unable to extend Reactive Realm in presence of RxRealm"
It is extremely useful to be able to refine custom reactive extensions for Realm on top of RxRealm. Defining such extension is currently not possible as the ad hoc `rx` extension of RxRealm has a base attribute with _private_ visibility, which prevents anyone using it in custom methods outside this pod.

Starting from RxSwift 6.1 version, it is – again – possible to use the somehow standard rx att

[2022-01-09 11:57] arshiacont commented on #174
@freak4pc any chance to move this further? Let me know if there’s another maintainer to ping! Happe new year ;)

[2022-01-09 12:02] freak4pc commented on #174
Hey there, unfortunately I'm not sure there's an active maintainer for this project (I'm not maintaining it as well, just the org).
Feel free to open a PR and I'll try to review it.

[2022-01-09 12:07] arshiacont commented on #174
@freak4pc PR #171 Many thanks.

[2022-01-15 01:15] gorbat-o opened #175 "Last version of RxRealm not compiling"
Hey guys,

I just did a pod update and then tried compiling
With the last Realm update, this repo doesn't compile anymore

![image](https://user-images.githubusercontent.com/7542553/149603234-bfe5c288-f424-4248-86d9-16c5846d0811.png)

![image](https://user-images.githubusercontent.com/7542553/149603247-2af0ce17-981f-4156-94a9-ef4ea5df4fa0.png)

I will rollback atm

[2022-01-16 12:10] freak4pc opened #176 "🔝 New maintainer : was "This repo is looking for a maintainer! [Closed]""
@JoeMatt and @rynecheow have been great past maintainers of this repo, but lately seems like they have less available time which is absolutely fine - but, it leaves this project in a bit of an unmaintained state.

I can't maintain this project unfortunately, especially since I'm not a Realm user. I just cut a new release with one of the PRs requested but I have no real way to confirm the code vali

[2022-01-16 16:35] JoeMatt commented on #176
I don't believe I'm a maintainer on this, just RxReachability at the moment.

[2022-01-17 12:01] VipulDungranee commented on #175
@gorbat-o  I am having same issue , I can solve this by adding below in RxRealm.swift file

`extension NotificationEmitter {
    public func observe(on queue: DispatchQueue?, _ block: @escaping (RealmCollectionChange<Self>) -> Void) -> NotificationToken
        {
            NotificationToken()
        }
}`

by adding above extension its  solving problem but sometime app getting crash
let me know

[2022-01-18 07:45] jackhuynh-motorist commented on #176
Dear,

Can someone help to check because right now carthage can not build the RxRealm anymore, I guess because RxSwift updated from 6.2.0 to 6.5.0. Its raised this error:

`** ARCHIVE FAILED **

The following build commands failed:
	CompileSwift normal arm64
	CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler`

I still can fetch and build RxRealm success last week.

[2022-01-18 07:56] hhl1809 opened #177 "Carthage build RxRealm fail"
Dear,

Can someone help to check because right now carthage can not build the RxRealm anymore, I guess because RxSwift updated from 6.2.0 to 6.5.0. Its raised this error:

`** ARCHIVE FAILED **

The following build commands failed:
CompileSwift normal arm64
CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler`

I still can fetch and build RxRealm success last week.

[2022-01-18 13:25] rynecheow commented on #177
Hi, would you be able to contribute a fix for this? Would gladly review and merge.

[2022-01-18 16:33] AllenTheobald opened #179 "Does not conform to protocol 'NotificationEmitter' using Swift Packet Manager"
Hello,

Test project: Xcode 12.5.1, Swift 5, iOS deploy 11.0

I create a new empty iOS project, add RxRealm 5.0.3 (exact version) via Swift Packet Manager. SPM brings in the following package dependencies:

Realm 10.21.1
RealmDatabase 11.8.0
RxSwift 6.5.0

When I compile, I get the following errors:

RxRealm.swift:42:1: error: type 'List<Element>' does not conform to protocol 'NotificationEmitter'

[2022-01-19 17:45] #174 closed

[2022-01-19 17:48] arshiacont commented on #176
@jackhuynh-motorist I see that RxRealm 5.0.4 was just released by @lihao6485 (many thanks to him) and I suppose by looking at commits that it should clear things out on that side.
This being said, I don't see 5.0.4 iin the CocoaPods repository (which is still on 5.0.3): https://github.com/CocoaPods/Specs/tree/master/Specs/e/e/2/RxRealm
@lihao6485 @rynecheow maybe additional action is necessary to

[2022-01-19 18:04] arshiacont commented on #176
Sorry for the noise here: @rynecheow seems like your last _Release Action_ has failed on `deploy to cocoapods` due to some bad token issue: https://github.com/RxSwiftCommunity/RxRealm/runs/4862457996?check_suite_focus=true
Looks like some one here should have received a verification email or similar! Therefore, the update is not showing on CocoaPods CDN.

[2022-01-19 20:21] freak4pc commented on #176
Uploaded podspec:

[code]

[2022-01-19 20:40] arshiacont commented on #175
Update your RxRealm and it should be fine. Close the ticket if applicable.

[2022-01-19 20:41] arshiacont commented on #179
Update to RxRealm 5.0.4 and close ticket if applicable.

[2022-01-19 22:40] AllenTheobald commented on #179
I couldn't get RxRealm 5.0.4 to work at all. However, if I install these packages in this order, using exact version, then RxRealm 5.0.3 will compile and run:

Realm-swift 10.20.1
Realm-cocoa 10.20.1
RxRealm     5.0.3

[2022-01-20 01:40] lihao6485 commented on #179
Hi @AllenTheobald do you mind share the error? I'm not using RxRealm in SPM but I test to add it with SPM in a test project it is working fine.

[2022-01-20 01:43] lihao6485 commented on #177
Hi @hhl1809, you can update to v5.0.4, it should fix the problem.

[2022-01-20 11:31] AllenTheobald commented on #179
Thanks! I have written the steps below. If you still cannot reproduce, I can share the test app repo.

Step 1: Describe your environment
Xcode version: 12.5.1
Swift version: 5
iOS deployment target: 11.0
RxRealm (exact) version: 5.0.3
Installation method: SPM

Step 2: Steps to recreate
1. Create a new empty iOS project
2. Add repository, https://github.com/RxSwiftCommunity/RxRealm, 5.0.3 (exact ve

[2022-01-20 12:26] arshiacont commented on #179
@AllenTheobald v5.0.3 won't compile with Realm 10.21.x (but with prior versions). Have you tried updating to 5.0.4?

[2022-01-20 19:04] AllenTheobald commented on #179
v5.0.4 compiles/runs with Realm 10.21.x on my iPhone, but does not compile/run on my iPad. The iPad is running iOS 12.2. I find this weird, but remember there was some wonkiness with iOS 12.2. Interestingly, the .ipa I create can be installed/run on the iOS12.2 device - just not installing through the debugger.

[2022-01-20 19:04] #179 closed

[2022-01-20 19:25] arshiacont commented on #179
In case it helps: It seems like Realm traverses all existing classes in your App and in Runtime. So even if you think that an iOS 13+ class is not being used in your iOS 12 device, it will be at some point by Realm unless you choose the right @availability vs #available . You need to make sure you exclude those classes in Runtime... learned this the hard way myself! :)

[2022-01-21 00:44] #177 closed

[2022-01-21 00:44] #175 closed

[2022-01-21 00:46] rynecheow commented on #176
@freak4pc Great if you could help to set the new Pods token in the repository's secret that would solve further Cocoapods release issues!

[2022-01-21 15:33] freak4pc commented on #176
@rynecheow can you set it up? you should still have access to that CocoaPods account (rx-realm@rxswift.org)

[2022-01-22 02:31] JoeMatt commented on #176
In other news, I linked up with @freak4pc . There was a misunderstanding of my past role in the project. I previously volunteered to help out with the project but it was not required at the time.

I am now officially the maintainer though. I also maintain RxReachability, which is a much smaller project. Also, I maintain Hero Transitions, libretro/VirtualJaguar, and am the founder of Provenance-EMU

[2022-01-22 02:35] JoeMatt opened #180 "Convert repo to Git-Flow"
Basic git organization cleanup.

Add git-flow pattern;
- [ ] Make a develop branch
- [ ] edit branch protection rules on  master/develop
- [ ] make develop default PR branch
- [ ] verify release tags, branches per git-flow guidlines
- [ ] make sure any documentation on CONTRIBUTING has correct branch guidelines

[2022-01-22 02:36] JoeMatt opened #181 "CI/CD GitHub actions"
Add github actions for build and test for CI/CD checks on PRs.

[2022-01-22 02:49] JoeMatt commented on #172
I like this idea. I use keypaths a lot. Would prefer it there was KeyPath usage though other than strigs, if it's possible. I hope to look into this but if anyone wants to work on this, I will review any PRs.

[2022-01-22 04:45] JoeMatt commented on #161
What was your Carthage command?

[2022-01-22 04:47] JoeMatt commented on #160
I generally think using binary targets goes against the point of a package source control system.

While it's great it it's supported by accident, is there a valid reason to put dev resources to ensuring this works over just using the source code?

[2022-01-22 04:56] JoeMatt commented on #164
The current release is on 10.21.1
Closing as resolved.

[2022-01-22 04:56] #164 closed

[2022-01-22 04:57] JoeMatt commented on #166
The current release is on RxSwift 6.5
Closing as resolved.

[2022-01-22 04:57] #166 closed

[2022-01-22 04:58] JoeMatt commented on #173
Can you update and test on latest release.
This may have been a realm bug, which has since been updated by a few versions.

[2022-01-22 05:01] JoeMatt commented on #169
Working for me in the latest Xcode 13.

If another package defines a class `SortDescriptor` you'll have to use namespace `RxRealm.SortDescriptor`

Closing, update if issues persist.

[2022-01-22 05:01] #169 closed

[2022-01-22 05:02] #176 closed

[2022-01-22 05:05] JoeMatt commented on #161
tested locally, and seems to build armv7 fine for me using cocoapods, swiftpm and carthage.

Please update and re-open if issues persists.

[2022-02-21 14:09] anuragajwani opened #182 "Add RxRealm.xcframework.zip to Github releases without dependencies"
Thanks for adding the XCFramework for this project to the Github releases.

I have noticed that the XCFramework is quite large (> 800Mb). I assume that the binary contains its dependencies too. However I would like to reference an XCFramework in Github releases that does not contain any dependencies within as these are added separately to my project for other targets.

Basically I don't want to ha

[2022-02-21 17:03] freak4pc commented on #182
Hey,
To my understanding xcframeworks don't have dependencies per-we, so the direct dependencies are usually bundled.

This doesn't necessarily mean you'll have two copies of Realm during linking. In my experience the compiler is smart enough to dynamically link just one instance as long as all versions match up.

[2022-03-09 08:08] #182 closed

[2022-09-13 12:54] vg-identance opened #189 "5.0.5 version absent on cocoapods"
Please release 5.0.5 to Cocoapods. Currently there is available only 5.0.4 https://cocoapods.org/pods/RxRealm

[2022-09-22 15:02] kerryknight opened #190 "RxRealm v5.0.5 tagged release's RxRealm.podspec version is still set to v5.0.4"
It appears as though the maintenance/chore step to bump the version on `RxRealm.podspec` from v5.0.4 to v5.0.5 occurred _after_ the v5.0.5 tagged release was created.